.m-catalog
    .container
        h1 Мобильные телефоны

        select#filter
            option популярные
            option дорогие
            option отстойные
            option ахуительные

        .m-catalog-list
            .m-catalog-item
                .row
                    .col-xs-5.m-catalog-img
                        a(href="product.html"): img(src="../../dumy/images/phone-1.png")
                    .col-xs-7
                        a.m-catalog-title(href="product.html") Смартфон HTC ONE M8020 (+ GSM)
                        .m-catalog-price 6 709 руб.
                        .m-catalog-credit От 750 руб./мес.
            .m-catalog-item
                .row
                    .col-xs-5.m-catalog-img
                        a(href="product.html"): img(src="../../dumy/images/phone-1.png")
                    .col-xs-7
                        a.m-catalog-title(href="product.html") Смартфон HTC ONE M8020 (+ GSM)
                        .m-catalog-price 6 709 руб.
                        .m-catalog-credit От 750 руб./мес.