.footer-nav
    ul.footer-nav-list
        li.footer-nav-item
            a(href="phones.html")
                i.icon-phone.footer-nav-icon
                .footer-nav-label Телефоны
        li.footer-nav-item
            a(href="phones.html")
                i.icon-tablet.footer-nav-icon
                .footer-nav-label Планшеты
        li.footer-nav-item
            a(href="phones.html")
                i.icon-headphones.footer-nav-icon
                .footer-nav-label Аксессуары
    .clearfix