.footer
    .container
        .row
            .col-xs-6.footer-phone 0 (778) 2-22-28
            .col-xs-6.footer-icons
                a(href="#"): i.icon-facebook
                a(href="#"): i.icon-odnoklassniki