meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0")

link(rel="stylesheet" href="../css/style.css")
link(rel="stylesheet" href="../css/mobile.css")

script(src="../js/jquery.js")
script(src="../js/mobile.js")
script(src="../js/shops.js")
//- swiper
script(src="../js/swiper.min.js")