doctype
html
    head
        include ./head
        title main.html
    body
        include ./nav

        .m-main-slider
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        img.swiper-slider-image(src="../../dumy/images/slider-1.jpg")

                    .swiper-slide.swiper-slider-v2
                        img.swiper-slider-image(src="../../dumy/images/slider-2.jpg")
                        .swiper-slider-container
                            .swiper-slider-desc
                                .swiper-slider-caption
                                    a.swiper-slider-button.swiper-slider-button-white(href="$url$") Подробнее
                .swiper-pagination

        include ./footer-nav

        .container.main-news
            .row.main-news-item
                .col-xs-2: .main-news-icon.bg-warning %
                .col-xs-10: .main-news-text
                    | Снижение цены на
                    a(href="#") HTC Droid DNA
                    | в магазинах «GO»
            .row.main-news-item
                .col-xs-2: .main-news-icon.bg-warning %
                .col-xs-10: .main-news-text
                    | Снижение цены на
                    a(href="#") HTC Droid DNA
                    | в магазинах «GO»
            .row.main-news-item
                .col-xs-2: .main-news-icon.bg-warning %
                .col-xs-10: .main-news-text
                    | Снижение цены на
                    a(href="#") HTC Droid DNA
                    | в магазинах «GO»

        include ./footer