nav.navbar.navbar-default
    .container
        .navbar-header
            button.navbar-toggle.collapsed.text-success(type="button")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="main.html")
            .nav-search
                .nav-search-btn
                    i.icon-search
                .nav-search-inner
                    .nav-search-close
                        i.icon-close
                    .nav-search-input
                        input(type="text")

.nav-expanded
    ul.nav-expanded-list
        li.nav-expanded-item.title Каталог:
        li.nav-expanded-item: a.nav-expanded-link.text-success(href="phones.html") Телефоны
        li.nav-expanded-item: a.nav-expanded-link.text-success(href="phones.html") Планшеты и ноутбуки
        li.nav-expanded-item: a.nav-expanded-link.text-success(href="phones.html") Аксессуары

        li.nav-expanded-devider
        li.nav-expanded-item
            a.nav-expanded-link(href="contacts.html")
                i.nav-expanded-icon.icon-map-marker
                | Магазины

        li.nav-expanded-devider
        li.nav-expanded-item: a.nav-expanede-link(href="news.html") Новости
        li.nav-expanded-item: a.nav-expanede-link(href="company.html") О компании
        li.nav-expanded-item: a.nav-expanede-link(href="guarantee.html") Покупка и гарантия

        li.nav-expanded-devider

    .nav-expanded-caption
        .text-white 0 (778) 2-22-28
        .text-muted Служба поддержки клиентов