doctype
html
    head
        include ./head
        title product.html
        script(src="../js/bootstrap.js")
    body
        include ./nav

        .m-product
            .m-product-imgs
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide: img(src="../../dumy/images/phone-1.png")
                        .swiper-slide: img(src="../../dumy/images/phone-2.png")
                        .swiper-slide: img(src="../../dumy/images/phone-3.png")
                        .swiper-slide: img(src="../../dumy/images/phone-4.png")
                        .swiper-slide: img(src="../../dumy/images/phone-5.png")
                        .swiper-slide: img(src="../../dumy/images/phone-6.png")

                    .swiper-button-prev
                    .swiper-button-next

            .m-product-title Monster beats audio
            .text-center
                .m-product-price 2 370 руб.
                .m-product-state Заканчивается
            .m-product-credit В рассрочку от 120 руб./мес.

            .m-product-info
                ul.m-product-tabs
                    li.m-product-tabs-item: a(href="#description" data-toggle="tab") Описание
                    li.m-product-tabs-item: a(href="#characteristics" data-toggle="tab") Харрактеристики
                    li.m-product-tabs-item: a(href="#faq" data-toggle="tab") Вопросы

                .container
                    .tab-content.m-product-tab-content
                        include ../product-tab-description
                        include ../product-tab-characteristics
                        include ../product-tab-faq

        include ./footer