.btn {
    &-bordered {
        border-radius: 0;
        border: 2px solid;
        background: transparent;
        text-decoration: none;

        .btn-var(@color, @hover-color: #fff) {
            border-color: @color;
            color: @color;

            &:hover {
                background: @color;
                color: @hover-color;
            }
        }

        &.btn-success {
            .btn-var(@brand-success);
        }
        &.btn-danger {
            .btn-var(@brand-danger);
        }
        &.btn-warning {
            .btn-var(@brand-warning);
        }
        &.btn-info {
            .btn-var(@brand-info);
        }
    }

    &-flat {
        border-radius: 0;
    }

    &-lg {
        padding: 8px 19px;
        font-size: 16px;
    }
}
