.catalog {
    margin-top: 100px;

    .catalog-item {
        border-radius: 10px;
        background-color: #292929;
        padding: 30px 10px;
        text-align: center;
        border: 3px solid #333;
        height: 570px;
        margin-bottom: 88px;
        position: relative;
        .box-shadow(0 20px 30px rgba(0, 0, 0, 0.5));

        &.hit:before,
        &.superprice:before,
        &.new:before {
            text-transform: uppercase;
            position: absolute;
            top: -29px;
            left: 20px;
            padding: 3px 10px;
            color: #fff;
            font-weight: bold;
            font-size: 14px;
            .font-scada();
            border-radius: 5px 5px 0 0;
            text-shadow: 0 0 2px #000;
        }

        .item-mod(@color, @label) {
            border-color: @color;

            &:before {
                content: @label;
                #gradient.vertical(@color, darken(@color, 20%));
            }
        }

        &.hit {
            .item-mod(@brand-warning, "Топ Продаж");
        }
        &.superprice {
            .item-mod(@brand-danger, "Суперцена");
        }
        &.new {
            .item-mod(@brand-success, "Новинка");
        }

        img.image {
            max-width: 100%;
            height: 297px;
        }

        .title {
            margin-top: 40px;
            a {
                .font-scada();
                text-transform: uppercase;
                color: @brand-success;
                font-size: 20px;
                font-weight: bold;
            }
        }

        .state {
            margin-top: 10px;
            color: #777;
        }
        .price {
            position: absolute;
            .font-scada();
            color: #fff;
            font-size: 26px;
            width: 100%;
            bottom: 60px;

            &-old {
                color: #fff;
                text-decoration: line-through;
            }
            &-new {
                display: inline-block;
                margin-left: 10px;
                color: @brand-danger;
            }
        }

        .credit {
            font-family: ClearSans, sans-serif;
            color: #999;
            font-size: 16px;
            position: absolute;
            bottom: 30px;
            width: 100%;

            span {
                color: #fff;
            }
        }

        .travel {
            background: url("images/travel.png") no-repeat center;
            width: 62px;
            height: 57px;
            position: absolute;
            top: 68px;
            right: 20px;
        }

        .colors {
            position: absolute;
            top: -30px;
            right: 20px;

            .color {
                width: 8px;
                height: 8px;
                display: inline-block;
                border-radius: 50%;
                margin-left: 10px;
            }
        }

        .hover-description {
            position: absolute;
            background: #292929;
            padding: 40px 30px;
            border: 3px solid @brand-success;
            border-radius: 0 10px 10px 0;
            line-height: 24px;
            width: 350px;
            z-index: 1;
            //left: 400px;
            top: 0;
            opacity: 0;
            visibility: hidden;
            //.transition(all 0.5s);

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 10px;
                left: -18px;

                width: 0;
                height: 0;
                border-style: solid;
                border-width: 15px 15px 15px 0;
            }
            &:before {
                border-color: transparent #292929 transparent transparent;
                z-index: 2;
                margin-left: 4px;
            }
            &:after {
                border-color: transparent @brand-success transparent transparent;
                z-index: 1;
            }
        }

        &:hover {
            .hover-description {
                left: 340px;
                visibility: visible;
                opacity: 1;
                //.transition(all 0.4s);
            }
        }
    }
}