.filter {
    .inset();
    border-bottom: 1px solid @navbar-border-color;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("images/light.png") no-repeat center -110px #111;
        opacity: 0;
        .transition(opacity 0.5s);
    }

    &.large-filter:before {
        opacity: 1;
    }
}
#small-filter {
}
#large-filter {
    display: none;
    height: 735px;
    position: relative;
    margin: -35px auto -34px auto;
    padding: 41px 0 0 0;

    .phone-in-hand {
        background: url("images/iPhone-5-in-hand.png") no-repeat center;
        width: 347px;
        height: 629px;
        position: absolute;
        top: 107px;
        right: 22px;
    }

    .colors {
        background-color: #303030;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
        width: 290px;
        position: absolute;
        top: 460px;
        right: 0;
        padding: 15px 20px;

        .label {
            color: #ccc;
            font-weight: normal;
        }
        .checkbox {
            display: inline-block;
            margin-right: 10px;

            &:nth-child(8n + 1) {
                margin-right: 0;
            }

            input[type="checkbox"] {
                display: none;
                & + label {
                    border-radius: 50%;
                    border: 2px solid transparent;
                    width: 22px;
                    height: 22px;
                    padding: 0;
                }
                &:checked + label {
                    border-color: @brand-success;
                }
            }
        }
    }

    .close {
        position: absolute;
        top: 40px;
        right: 0;
    }

    .filter-inner {
        .text-white();
        margin-top: 100px;
        width: 696px;

        label {
            font-weight: normal;
            margin-bottom: 20px;
        }

        i.text-xxx-large {
            font-size: 50px;
        }
    }

    .inline-filter {
        .text-center();
        .text-muted();
        .text-small();

        margin-top: 83px;

        .checkbox {
            margin: 0;
            input[type="checkbox"] {
                display: none;

                &:checked + label {
                    .text-success();
                }
            }
            label {
                padding: 0;
                margin: 0;
                &:before {
                    display: block;
                    font-size: 50px;
                }
                &.icon-antenna:before {
                    font-size: 41px;
                }
                &.icon-sd-card {
                    width: 80px;
                    max-width: none;
                    &:before {
                        font-size: 32px;
                        margin-bottom: 9px;
                    }
                }
            }
        }
    }

    .price-filter {
        margin-top: 74px;

        .range {
            margin-top: 35px;

            @import "ion.rangeSlider";
            @import "ion.rangeSlider.skin.less";
        }
    }
}
.sorting {
    color: #999;

    &-item {
        display: inline-block;
    }
    &-label {
        display: inline-block;
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 3px 25px 3px 10px;
        margin-left: 20px;
        position: relative;
        text-decoration: none;
        color: #999;
        .transition(all 0.4s);

        &-inner {
            .link();
            .dashed();
        }

        &:active,
        &:hover {
            color: #999;
        }

        &:after {
            .transition(all 0.4s);
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 4.5px 0 4.5px;
            border-color: #999 transparent transparent transparent;
            position: absolute;
            top: 11px;
            right: 10px;
        }

        &.active {
            border-color: @brand-success;
            .text-success();

            &:after {
                border-color: @brand-success transparent transparent transparent;
            }
        }
        &.active &-inner {
            border-bottom-color: transparent;
        }
    }
}
.filter-carusel {
    width: 940px;
    position: relative;
    margin: 0 auto;

    &-inside {
        display: table;
    }
    &-scroll {
        overflow: hidden;
        width: 100%;
        padding: 10px 0;
    }

    .arrow {
        position: absolute;
        top: 50%;
        cursor: pointer;

        &:before,
        &:after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            position: absolute;
            border-width: 20px 20px 20px 0;
            top: 0;
            left: 0;
        }
        &:before {
            border-color: transparent @brand-success transparent transparent;
        }
        &:after {
            border-color: transparent #111 transparent transparent;
            margin-left: 3px;
        }

        &-left {
            left: -100px;
            top: 25px;
        }

        &-right {
            right: -100px;
            top: 65px;
            .transform-origin(center);
            transform: rotate(180deg);
        }
    }

    .filter-carusel-item {
        display: table-cell;
        padding: 0;

        a {
            text-align: center;
            width: 100px;
            margin: 0 10px;
            display: block;
            text-decoration: none;
            color: #fff;
            font-size: 12px;

            i {
                display: block;
                font-size: 50px;
                .text-glow();
            }

            &.active {
                color: @brand-success;
                i {
                    text-shadow: none;
                }
            }
        }
    }
}