.form {
    &-black {
        label {
            color: #999;
            font-size: 16px;
            font-weight: normal;
            margin-top: 20px;
        }
        input[type="text"],
        input[type="password"],
        input[type="email"],
        textarea {
            background: #111;
            color: #fff;
            border-radius: 2px;
            border: 2px solid #444;

            &:focus {
                border-color: @input-border-focus;
            }
        }
        input[type="text"],
        input[type="password"],
        input[type="email"] {
            height: 42px;
        }
        textarea {
            resize: none;
        }

        .checkbox {
            input[type="checkbox"] {
                display: none;

                & + label {
                    margin: 0;
                    padding: 0;

                    &:before {
                        content: '';
                        border: 2px solid @brand-success;
                        width: 22px;
                        height: 22px;
                        display: inline-block;
                        margin-right: 20px;
                        vertical-align: middle;
                        background: url(images/check.png) no-repeat center -25px #111;
                    }
                }

                &:checked + label:before {
                    background-position: center center;
                }
            }
        }
    }
}