@font-face {
    font-family: 'GoIconFont';
    src:url('fonts/GoIconFont.eot?-dwowab');
    src:url('fonts/GoIconFont.eot?#iefix-dwowab') format('embedded-opentype'),
    url('fonts/GoIconFont.woff?-dwowab') format('woff'),
    url('fonts/GoIconFont.ttf?-dwowab') format('truetype'),
    url('fonts/GoIconFont.svg?-dwowab#GoIconFont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'GoIconFont';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
    content: "\e627";
}

.icon-arrow-right:before {
    content: "\e628";
}

.icon-arrow:before {
    content: "\e629";
}

.icon-arrow-top:before {
    content: "\e61e";
}

.icon-chevron-thin-down:before {
    content: "\e62a";
}

.icon-chevron-thin-top:before {
    content: "\e62b";
}

.icon-arrow-thin-top:before {
    content: "\e62b";
}

.icon-chevron-thin-left:before {
    content: "\e62c";
}

.icon-chevron-thin-right:before {
    content: "\e626";
}

.icon-arrow-thin-right:before {
    content: "\e626";
}

.icon-windows-2:before {
    content: "\e60b";
}

.icon-windows:before {
    content: "\e60c";
}

.icon-facebook:before {
    content: "\e600";
}

.icon-odnoklassniki:before {
    content: "\e60e";
}

.icon-ios:before {
    content: "\e60f";
}

.icon-android:before {
    content: "\e623";
}

.icon-telephone:before {
    content: "\e616";
}

.icon-smartphone:before {
    content: "\e625";
}

.icon-phone:before {
    content: "\e625";
}

.icon-iphone:before {
    content: "\e625";
}

.icon-tablet:before {
    content: "\e624";
}

.icon-map-marker:before,
.icon-location-on:before {
    content: "\e62d";
}

.icon-stopwatch:before {
    content: "\e603";
}

.icon-alarm:before {
    content: "\e601";
}

.icon-time:before {
    content: "\e601";
}

.icon-clock:before {
    content: "\e601";
}

.icon-connections:before {
    content: "\e602";
}

.icon-share:before {
    content: "\e602";
}

.icon-signal:before {
    content: "\e604";
}

.icon-setting:before {
    content: "\e605";
}

.icon-sd-card:before {
    content: "\e606";
}

.icon-plus:before {
    content: "\e607";
}

.icon-options:before {
    content: "\e608";
}

.icon-money:before {
    content: "\e609";
}

.icon-love:before {
    content: "\e60a";
}

.icon-search:before {
    content: "\e60d";
}

.icon-keyboard:before {
    content: "\e610";
}

.icon-lens:before {
    content: "\e611";
}

.icon-game:before {
    content: "\e612";
}

.icon-headphones:before {
    content: "\e613";
}

.icon-info:before {
    content: "\e614";
}

.icon-info-2:before {
    content: "\e615";
}

.icon-mouse:before {
    content: "\e617";
}

.icon-cable:before {
    content: "\e618";
}

.icon-chip:before {
    content: "\e619";
}

.icon-close:before {
    content: "\e61a";
}

.icon-bag:before {
    content: "\e61b";
}

.icon-battery:before {
    content: "\e61c";
}

.icon-battery-2:before {
    content: "\e61d";
}

.icon-wifi:before {
    content: "\e61f";
}

.icon-dimensions:before {
    content: "\e620";
}

.icon-display:before {
    content: "\e621";
}

.icon-antenna:before {
    content: "\e622";
}

