.main-slider {
    height: 100%;
    position: relative;

    &-item {
        width: 100%;
        height: 100%;
        position: absolute;
        //        top: 0;
        left: 0;
        background-size: cover;
        //noinspection CssOptimizeSimilarProperties
        background-repeat: no-repeat;
        //noinspection CssOptimizeSimilarProperties
        background-position: center;
        z-index: 1;
        //        top: 0;
        .transition(all 1s);

        &.slideTop {
            //opacity: 1;
            //            top: -100%;
            height: 0;
        }

        > img {
            display: none;
        }
        img {
            max-width: 100%;
        }

    }

    &-container {
        position: relative;
        height: 100%;
        overflow: hidden;
        .container;
    }

    &-desc {
        width: 450px;
        position: absolute;

        .font-scada;
    }
    &-title {
        @base-size: 28px;
        font-size: @base-size;
        margin-bottom: 20px;
        small {
            font-size: 0.8em;
        }
    }

    @import "slider-mixins";
    @BaseHeight: 819;
    @BaseWidth: 1170;

    &-v2 {
        .main-slider-desc {
            //.createTopOffset(364);
            .createBottomOffset(217);
            .createRightOffset(20);
        }
    }
    &-v3 {
        .main-slider-desc {
            .createTopOffset(284);
            left: 0;
        }
    }
    &-v4 {
        .main-slider-title {
            position: absolute;
            .createTopOffset(100);
            left: 0;
        }
        .main-slider-desc {
            right: 0;
            .createBottomOffset(10);
        }
    }
    &-v5 {
        .main-slider-desc {
            .createTopOffset(366);
            left: 0;

            padding: 35px 40px;
            background: #3b6bb3;
            border-radius: 10px;
            box-shadow: 0 50px 50px -30px rgba(0, 0, 0, 0.3);
        }
    }
    &-v6 {
        .main-slider-container {
            position: absolute;
            bottom: 60px;
            width: 100%;
            left: 0;
        }
        .main-slider-inner-image {
            height: 415px;
        }
    }

    &-caption {
        margin-top: 65px;
    }

    &-price {
        display: inline-block;
        margin-right: 50px;
        vertical-align: middle;

        small {
            font-size: .666666667em;
        }
    }

    &-button {
        color: #343434;
        font-size: 18px;
        .font-scada;
        text-decoration: none;
        display: inline-block;
        border-radius: 10px;
        padding: 13px 21px;

        &:hover {
            color: #343434;
            text-decoration: none;
        }

        &-white {
            background: #fff;
        }
        &-green {
            background: @brand-success;
            color: #fff;
            &:hover {
                color: #fff;
            }
        }
    }

    &-pager {
        position: absolute;
        z-index: 999;
        top: 50%;
        right: 53px;
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            cursor: pointer;
            display: block;
            margin-bottom: 10px;
            font-size: 12px;
            line-height: 9px;
            .transition(all 0.4s);

            &:before {
                content: '';
                border-radius: 50%;
                border: 2px solid #fff;
                width: 12px;
                height: 12px;
                display: inline-block;
                vertical-align: middle;
                .transition(all 0.4s);
            }

            a {
                padding: 8px 9px;
                opacity: 0;
                display: inline-block;
                text-decoration: none;
                color: #fff;
                margin-left: -19px;
                vertical-align: middle;
                .transition(all 0.4s);

                &:hover {
                    text-decoration: none;
                    color: #fff;
                }
            }

            &.active,
            &:hover {
                a {
                    opacity: 1;
                }
                &:before {
                    border-color: @brand-success;
                    background-color: @brand-success;
                }
            }
        }

        &-arrow-up,
        &-arrow-down {
            background: url("images/arrow.png") no-repeat center top;
            width: 21px;
            height: 11px;
            margin-left: -4px;
            opacity: 0.7;

            &:hover {
                background-color: transparent !important;
                opacity: 1;
            }

            &:before {
                display: none !important;
            }
        }
        &-arrow-down {
            transform: rotate(180deg);
        }
    }
}