// Core variables and mixins
@import "../../bower_components/bootstrap/less/variables";
// Overwrite variables
@import "variables";
@import "../../bower_components/bootstrap/less/mixins";
@import "mixins";
// Overwrite text
@import "mobile-text";
// Swiper less
@import "../../bower_components/Swiper/src/less/swiper";
body {
    padding-top: 65px;
    background: #111;
}
hr {
    margin: 35px 0;
}
.go-glow {
    background-color: #111;
    background-image: url(images/go-glow-m.png);
    background-position-y: -109px;
}
.nav-expanded {
    @nav-toggle-btn-width: 60px;
    @base-font-size: 14px;

    position: fixed;
    top: 0;
    right: 100%;
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 11;
    padding: 21px 28px 21px @nav-toggle-btn-width + 28px;
    .transition(all .4s);

    .font-fira;
    color: #777777;
    font-size: @base-font-size;
    font-weight: 300;
    line-height: 3em;
    overflow: auto;

    &-list {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            color: #999999;
            text-decoration: none;
            display: block;
        }
    }
    &-item {
        margin: 0;
        padding: 0;
        &.title {
            font-size: 2em;
            color: #fff;
        }
    }
    &-devider {
        border-top: 1px solid #444444;
        margin: @base-font-size 0;
    }
    &-icon {
        margin-right: 21px;
        font-size: 2em;
        vertical-align: middle;
    }
    &-caption {
        font-size: 1em;
        line-height: 2em;
    }
}
@media (max-width: @screen-sm) {
    .navbar-default {
        padding: 3px 0;
        height: auto;
        left: 0;
        margin-left: 0;
        .transition(all .4s);

        //noinspection CssOptimizeSimilarProperties
        .navbar-brand {
            width: 48px;
            height: 38px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin: 8px 0 5px 0;
        }
    }
}
.navbar-toggle {
    z-index: 2;
}
.navbar-brand {
    z-index: 2;
    position: relative;
}
.nav-visible {
    overflow: hidden;
    .navbar.navbar-default {
        left: 100%;
        margin-left: -60px;
        .transition(all .4s);
    }
    .nav-expanded {
        right: 60px;
        .transition(all .4s);
    }
}
.nav-search {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 1;

    &-inner {
        background: @brand-success;
        position: absolute;
        top: 0;
        left: 100%;
        width: 0;
        height: 100%;
        .transition(all .4s);
    }

    &-btn {
        width: 60px;
        font-size: 20px;
        text-align: center;
        padding: 17px 0;
        color: #999999;
        position: absolute;
        left: 100%;
        margin-left: -60px;
        z-index: 2;
        .transition(all .4s);
    }

    &-close {
        width: 60px;
        text-align: center;
        padding: 17px 0 18px;
        font-size: 20px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #028346;
        display: none;
    }
    &-input {
        display: none;
        margin: 0 60px 0 80px;
        height: 100%;
        input {
            background: transparent;
            border: none;
            font-size: 24px;
            width: 100%;
            height: 100%;

            &:focus {
                outline: none;
            }
        }
    }
}
.search-visible {
    .nav-search {
        z-index: 3;
        &-inner {
            left: 0;
            width: 100%;
            .transition(all .4s);
        }

        &-btn {
            color: #fff;
            .transition(all .4s);
        }

        &-input,
        &-close {
            display: block;
        }
    }
}
.m-main-slider {
    .swiper-container {
        height: 274px;
    }
}
.footer-nav {
    padding: 30px 0;
    background-color: #111111;
    border-bottom: 1px solid #494949;
    &-list {
        list-style: none;
        padding: 0;
        margin: 0;
        a {
            color: #ccc;
            text-decoration: none;
        }
    }
    &-item {
        float: left;
        width: 33%;
        display: block;
        text-align: center;

    }
    &-icon {
        display: block;
        font-size: 50px;
        color: #fff;
    }
    &-label {
        display: block;
        font-size: 14px;
        color: #cccccc;
    }
}
.main-news {
    padding-top: 20px;
    padding-bottom: 20px;

    &-item + &-item {
        margin-top: 20px;
    }

    &-icon {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        text-align: center;
        font-size: 28px;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
        color: #fff;
    }

    &-text {
        .font-fira;
    }
}
.footer {
    padding: 13px 0;
    border-top: 1px solid #494949;
    background: #303030;
    &-phone {
        .font-scada;
        color: #fff;
        font-size: 18px;
        padding-top: 5px;
    }
    &-icons {
        text-align: right;
        a {
            font-size: 24px;
            text-decoration: none;
        }
        a + a {
            margin-left: 25px;
        }
    }
}
.select-btn {
    @brd-rad: 5px;
    @height: 40px;

    background: #303030;
    height: @height;
    position: relative;
    line-height: @height;
    padding-left: @height + 25px;
    padding-right: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: @brd-rad;
    .font-fira;
    color: #ccc;

    span {
        color: #ffffff;
    }

    &:before {
        content: "\e605";
        font-family: "GoIconFont";
        font-size: 20px;
        color: #fff;
        padding: 0 10px;
        background-color: #444;
        position: absolute;
        top: 0;
        left: 0;
        height: @height;
    }

    &:after {
        content: "\e62a";
        font-family: "GoIconFont";
        position: absolute;
        top: 0;
        right: 20px;
    }
}
.m-catalog {
    background: #111;
    &-item {
        padding: 30px 0;
    }
    &-item + &-item {
        border-top: 1px solid #444;
    }

    &-img {
        img {
            max-width: 100%;
        }
    }
    &-title {
        .font-fira;
    }
    &-price {
        font-size: 18px;
        .font-fira;
        color: #fff;
        margin: 6px 0;
    }
    &-credit {
        font-size: 12px;
        .font-fira;
        color: #999;
    }
}
.m-product {
    background: #292929;

    &-imgs {
        background: url("images/go-pattern.png") center #006033;
        padding-top: 23px;
        height: 268px;
        text-align: center;
        margin-bottom: 50px;

        .swiper {
            &-container {
                height: 300px;

                img {
                    max-width: 90%;
                    max-height: 95%;
                }
            }
            &-button {
                &-next,
                &-prev {
                    top: 40%
                }
            }
        }
    }

    &-title {
        .font-fira;
        font-size: 18px;
        text-align: center;
        padding-top: 10px;
        margin-bottom: 25px;
    }
    &-price {
        .font-fira;
        font-size: 24px;
        display: inline-block;
        vertical-align: middle;
    }
    &-price + &-state {
        margin-left: 26px;
    }
    &-state {
        .font-fira;
        color: #e48633;
        font-size: 12px;
        background: #303030;
        border: 1px solid #e48633;
        border-radius: 5px;
        display: inline-block;
        padding: 5px 12px;
        vertical-align: middle;
    }
    &-credit {
        margin-top: 15px;
        margin-bottom: 30px;
        text-align: center;
        color: #999;
        font-size: 13px;

        &:before {
            content: '\e609';
            font-family: "GoIconFont";
            background: #333;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            display: inline-block;
            padding-top: 3px;
            margin-right: 20px;
        }
    }

    &-info {
        background: #111;
        padding: 25px 0 0;
    }
    &-tabs {
        margin: 0;
        padding: 0;
        display: block;
        list-style: none;
        text-align: center;
        &-item + &-item {
            margin-left: -5px
        }
        &-item {
            display: inline-block;

            a {
                .font-fira;
                font-size: 12px;
                color: #ddd;
                text-decoration: none;
                background: #393939;
                padding: 0 15px;
                line-height: 30px;
                display: inline-block;
            }
            &:first-child a {
                border-radius: 5px 0 0 5px;
            }
            &:last-child a {
                border-radius: 0 5px 5px 0;
            }

            &.active {
                a {
                    background: @brand-success;
                }
            }
        }
    }
    &-tab-content {
        margin-top: 25px;
    }
}
.news {
    background-color: #111;
    &-item + &-item {
        margin-bottom: 30px;
    }
    &-item {
        border: none;
        background: transparent;
        box-shadow: none;
        padding: 0;
        border-radius: 0;

        &:first-child {
            border-top: 1px solid #444444;
            padding-top: 30px;
        }

        &-bage {
            position: static;
            float: left;
            border-radius: 10px;
            box-shadow: none;
            width: 40px;
            height: 40px;
            line-height: 40px;
            padding: 0;
        }

        &-anounce {
            margin-left: 66px;
        }
        &-date,
        &-title {
            display: none;
        }
    }
}
.shops {
    &-group {
        &-title {
            .font-fira;
            color: #fff;
            font-size: 18px;
            text-transform: none;
            margin-top: 20px;
            padding-bottom: 15px;
            border-bottom: 1px solid #444444;
        }
    }

    &-address {
        color: #999999;
        font-size: 14px;
        position: relative;
        padding-left: 65px;
        margin-bottom: 25px;
        [class^="icon-"] {
            font-size: 32px;
            position: absolute;
            left: 15px;
            top: 0;
        }
    }
    &-time {
        [class^="icon-"] {
            &.text-danger + span {
                color: @brand-danger;
            }
            &.text-warning + span {
                color: @brand-warning;
            }
        }
    }
    &-time,
    &-phone {
        color: #666666;
        font-size: 14px;
        display: inline-block;
    }

    .shops-time-note,
    .icon-time,
    .icon-telephone {
        display: none;
        visibility: hidden;
    }
}
@import "swiper";