h1, h2, h3, h4, h5, h6 {
    .font-fira();
    text-transform: none;
}
h1 {
    font-size: 18px;
}
h2 {
    font-size: 16px;
}
h3 {
    font-size: 14px;
}

@base-font: 14px;
.text-large{
    font-size: @base-font;
}
.text-x-large{
    font-size: @base-font + 1;
}
.text-xx-large{
    font-size: @base-font + 2;
}
.text-xxx-large{
    font-size: @base-font + 3;
}
.text-xxxx-large{
    font-size: @base-font + 4;
}