.modal {
    &-dialog {
        max-height: none;
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            box-shadow: 0 0 200px 0 rgba(0, 166, 88, 0.5);
            border-radius: 10%;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    &-content {
        border: 4px solid @brand-success;
        font-size: 16px;
        color: #999;
        background: #292929;
        padding: 33px;
        border-radius: 0;
    }

    &-header {
        padding: 0 0 25px;
        margin-bottom: 10px;
        border-bottom: 2px solid @brand-success;

        a.close {
            text-decoration: none;
        }
    }
    &-body {
        padding: 0;
    }

    &-backdrop {
        width: 100%;
        height: 100%;
    }
}