.navbar-default {
    padding: @navbar-padding-vertical 0;
    height: @nav-height;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid @navbar-border-color;
    .box-shadow(0 0 15px #000);

    .navbar-brand {
        background: url("images/logo.png") no-repeat center;
        width: 88px;
        height: 67px;
        margin-right: 40px;
    }
    .nav-top > li {
        padding: 0 12px;

        > a {
            padding: 0;
            font-size: 12px;
            border-bottom: 1px solid;
            text-decoration: none;

            &:hover {
                border-bottom-color: transparent;
            }

            span {
                @size: 15px;

                border-radius: 50%;
                display: block;
                position: absolute;
                top: -3px;
                right: 0;
                margin-right: -(@size + 10);
                min-width: @size;
                height: @size;
                line-height: @size;
                text-align: center;
                font-size: 9px;
                color: #fff;
                background: @brand-success;
            }
        }

        &.active a {
            border-bottom-color: transparent;
            &:hover {
                border-bottom-color: transparent;
            }
        }
    }

    .nav-bottom {
        margin-top: 24px;

        > li {
            padding: 0 18px 24px;

            &:first-child {
                padding-left: 12px;
            }

            > a {
                padding: 0;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: bold;
                .font-scada();
                text-decoration: none;

                &:hover {
                    color: #fff;
                }
            }

            &.active a {
                color: #fff;
                &:hover {
                    color: #fff;
                }
            }

            > ul {
                display: none;
                position: absolute;
                top: 44px;
                left: 50%;
                list-style: none;
                background: rgba(48, 48, 48, 0.85);
                border-top: 3px solid @brand-success;
                padding: 0;
                margin: 0 0 0 -105px;

                &:before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 10px 10px 10px;
                    border-color: transparent transparent @brand-success transparent;
                    position: absolute;
                    top: -13px;
                    left: 50%;
                    margin-left: -10px;
                }
                li {
                    a {
                        color: #ccc;
                        font-size: 16px;
                        display: block;
                        padding: 13px 40px 12px 20px;
                        text-decoration: none;
                        border-bottom: 1px solid #444;
                        width: 210px;
                        position: relative;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        &:hover {
                            text-decoration: none;
                            color: #fff;
                        }

                        &:after {
                            font-family: 'GoIconFont';
                            content: "\e626";
                            position: absolute;
                            right: 13px;
                            top: 50%;
                            margin-top: -11px;
                        }
                    }

                    &:last-child a {
                        border-bottom: none;
                    }

                    &.active a {
                        color: #fff;
                    }
                }
            }
            &:hover {
                > ul {
                    display: block;
                }
            }
        }
    }
}
.nav.nav-tabs {
    > li {
        > a {
            color: #999;
            text-decoration: none;
            .text-large();
            border-radius: 0;
            padding: 9px 18px;

            &:focus,
            &:hover {
                background: none;
                color: #ddd;
            }
        }

        &.active > a {
            color: #ddd;
            #gradient.vertical(rgba(60, 61, 60, 0.74902), #202120);

            &:focus,
            &:hover {
                color: #ddd;
                border-bottom-color: #202120;
            }
        }
    }
}
.nav.nav-pills.nav-stacked {
    > li {
        margin-bottom: 15px;
        > a {
            border-radius: 6px;
            display: inline-block;
            color: #ccc;
            text-decoration: underline;

            &:hover,
            &:focus {
                text-decoration: none;
                background-color: transparent;
            }
        }
        &.active > a {
            &,
            &:hover,
            &:focus {
                color: #fff;
                background-color: @brand-success;
                text-decoration: none;
                box-shadow: inset 0 5px 40px -10px #000;
            }
        }
    }
}
.navbar-toggle {
    float: left;
    padding: 20px;
    margin: 0;
    .icon-bar {
        width: 21px;
        height: 3px;

        & + .icon-bar {
            margin-top: 3px;
        }
    }
}