.news {
    &-item {
        background: #292929;
        border-radius: 10px;
        padding: 30px 50px;
        position: relative;
        border: 3px solid #333;
        box-shadow: 0 30px 40px -20px rgba(0, 0, 0, 0.5);

        & + & {
            margin-top: 40px;
        }

        &-bage {
            position: absolute;
            border-radius: 10px 0 0 10px;
            left: -53px;
            top: 30px;
            font-size: 30px;
            color: #fff;
            padding: 4px 0;
            width: 50px;
            text-align: center;
            box-shadow: inset -10px 0 30px -10px #000;
        }
        &-date {
            color: #666;
            margin-bottom: 10px;
        }
        &-title {
            .font-scada;
            color: @brand-success;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 20px;
            .text-uppercase;
        }
        &-anounce {
            color: #ccc;
        }
    }
}