ul.pagination {

    @item-hor-margin: 10px;

    display: block;
    list-style: none;
    margin: 50px 0 50px 0;
    padding: 0;
    text-align: center;

    li {
        display: inline-block;
        margin: 0 @item-hor-margin;

        a {
            font-size: 12px;
            padding: 6px 0 0;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: 1px solid #848484;
            color: #999;
            display: inline-block;
            text-decoration: none;

            &:hover {
                background-color: #111;
            }
        }

        &.disabled a {
            opacity: 0.5;
            cursor: default;

            &:hover {
                text-decoration: none !important;
                background-color: transparent !important;
            }
        }

        &.active a {
            border-color: @brand-success;
            color: @brand-success;
            cursor: default;

            &:hover {
                background-color: transparent !important;
            }
        }

        &.prev {
            margin-right: 50px - @item-hor-margin;
        }
        &.next {
            margin-left: 50px - @item-hor-margin;
        }
        &.prev a,
        &.next a {
            border-radius: 0;
            border: none;
            width: auto;
            font-size: 14px;

            &:hover {
                background-color: transparent;
                text-decoration: underline;
            }
        }
    }
}