.product {
    &-info {
        position: relative;
        margin-top: 90px;
        height: 490px;
    }

    &-images {
        width: 100px;
        height: 350px;
        padding: 60px 0;
        position: absolute;
        top: 10px;
        left: 0;
        z-index: 2;

        &-arrow {
            position: absolute;
            left: 0;
            cursor: pointer;
            &:before,
            &:after {
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 20px 21px 20px;
                display: block;
                position: absolute;
            }
            &:before {
                border-color: transparent transparent #fff transparent;
            }
            &:after {
                border-color: transparent transparent @brand-success transparent;
                margin-top: 2px;
            }

            &-up {
                top: 17px;
                left: 30px;
            }
            &-down {
                transform: rotate(180deg);
                bottom: 17px;
                left: 70px;
            }
        }

        &-inner {
            height: 100%;
            overflow: hidden;
            margin-left: -6px;
            padding-left: 6px;
        }

        &-item {
            height: 65px;
            margin-bottom: 18px;
            cursor: pointer;
            position: relative;
            background-size: contain;
            //noinspection CssOptimizeSimilarProperties
            background-position: center;
            //noinspection CssOptimizeSimilarProperties
            background-repeat: no-repeat;

            &:before {
                content: '';
                position: absolute;
                display: block;
                border: 4px solid @brand-success;
                top: 50%;
                left: 0;
                width: 10px;
                margin-top: -25px;
                height: 50px;
                .transition(left 0.4s);
            }
            &.active {
                &:before {
                    left: -6px;
                    .transition(left 0.4s);
                }
            }
        }
    }

    &-image {
        background: url("images/go-pattern.png") repeat @brand-success-dark;
        width: 520px;
        height: 350px;
        position: absolute;
        top: 0;
        left: 90px;
        z-index: 1;

        &:before,
        &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            position: absolute;
            display: block;
            top: 0;
        }
        &:before {
            border-width: 10px 0 0 10px;
            border-color: transparent transparent transparent #256748;
            left: 0;
        }
        &:after {
            border-width: 0 0 10px 10px;
            border-color: transparent transparent #256748 transparent;
            right: 0;
        }

        &-image {
            background: no-repeat center;
            width: 100%;
            position: absolute;
            top: -40px;
            left: 0;
            height: 440px;
        }
    }

    &-text {
        position: absolute;
        top: 34px;
        left: 600px;
        width: 540px;
        height: 326px;
        z-index: 1;
        padding: 0 40px 40px 40px;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: -24px;
            height: 24px;
            display: block;
        }
        &:before {
            width: 516px;
            left: 0;
            background: @brand-success;
        }
        &:after {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 24px 0 0 24px;
            border-color: transparent transparent transparent #006033;
            right: 0;
        }
    }

    &-title {
        font-size: 30px;
        width: 400px;
    }

    &-colors {
        position: absolute;
        top: 10px;
        right: 40px;
        width: 110px;

        &-item {
            width: 10px;
            height: 10px;
            float: left;
            border-radius: 50%;
            margin-left: 12px;
            border: 1px solid transparent;

            &.active {
                border-color: #080c03;
            }
        }
    }

    &-description {
        height: 126px;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;

            #gradient.vertical(rgba(0, 166, 88, 0), @brand-success, 0, 90%);
        }
    }

    &-price {
        font-size: 38px;
    }

    &-credit {
        .icon-money {
            border-radius: 50%;
            background: #333;
            width: 48px;
            height: 48px;
            display: block;
            font-size: 20px;
            padding-top: 14px;
        }
    }

    &-state {
        position: absolute;
        top: 360px;
        left: 640px;
        padding: 6px 19px;
        border-radius: 0 0 5px 5px;
        box-shadow: inset 0 20px 30px -10px rgba(0, 0, 0, 0.5);
    }

    .nav-tabs {
        margin-top: -42px;
    }

    &-descriptiontab {
        position: relative;

        &-ext-image-top {
            position: absolute;
            top: -40px;
        }
    }
}