.shops {
    &-group {
        &-title {
            .font-scada;
            text-transform: uppercase;
            color: #ddd;
            font-size: 24px;
            font-weight: 700;
        }
    }

    &-group + &-group {
        margin-top: 100px;
    }

    &-item {
        border-bottom: 1px solid #444;
        padding: 30px 0;

        color: #ccc;
        font-size: 18px;
        line-height: 20px;

        [class^="icon-"] {
            color: @brand-success;
            font-size: 20px;
            vertical-align: middle;
            margin-right: 15px;

            &.text-danger {
                color: @brand-danger;
            }

            &.text-warning {
                color: @brand-warning;
            }
        }
    }

    &-time {
        &-note {
            color: #666;
            font-size: 14px;
            margin-left: 36px;
        }
    }
}