@BaseHeight: 819;
@BaseWidth: 1170;

.createRightOffset(@pxVal) {
    @val: @pxVal / @BaseWidth * 100;
    right: ~"@{val}%";
}
.createTopOffset(@pxVal) {
    @val: @pxVal / @BaseHeight * 100;
    top: ~"@{val}%";
}
.createBottomOffset(@pxVal) {
    @val: @pxVal / @BaseHeight * 100;
    bottom: ~"@{val}%";
}