@import url(http://fonts.googleapis.com/css?family=Scada:400italic,700italic,400,700&subset=cyrillic,latin);
@import url(http://fonts.googleapis.com/css?family=Fira+Sans&subset=cyrillic-ext,latin);
.text-emphasis-variant(@color) {
    color: @color;
    a&:hover {
        color: @color;
    }
}
.text-success {
    color: @brand-success !important;
}
.text-warning {
    color: @brand-warning;
}
.text-danger {
    color: @brand-danger;
}
.text-white {
    color: #fff;
}
.text-black {
    color: #111;
}
.text-muted {
    color: #999;
}
.text-size-default {
    font-size: @font-size-base;
}
.text-small {
    font-size: @font-size-base - 2;
}
.text-x-small {
    font-size: @font-size-base - 4;
}
.text-xx-small {
    font-size: @font-size-base - 6;
}
.text-large {
    font-size: @font-size-base + 2;
}
.text-x-large {
    font-size: @font-size-base + 4;
}
.text-xx-large {
    font-size: @font-size-base + 6;
}
.text-xxx-large {
    font-size: @font-size-base + 8;
}
.text-xxxx-large {
    font-size: @font-size-base + 10;
}
@font-size-large: 30px;
.text-l-large {
    font-size: @font-size-large;
}
.text-xxxxl-large {
    font-size: @font-size-large + 10;
}
.text-xxxl-large {
    font-size: 48px;
}
.font-scada {
    .font-scada()
}
.font-fira {
    .font-fira();
}
.text-glow {
    text-shadow: 0 0 5px;
}
.text-light {
    color: #ccc;
}
h1, h2, h3, h4, h5, h5 {
    .font-scada;
    .text-uppercase;
    margin: 1.5em 0 1em;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
p {
    margin-bottom: 1em;
}
ol.list-success {
    > li {
        list-style-type: none;
        counter-increment: list;
        position: relative;
        padding-left: 10px;
        margin-bottom: 50px;

        &:before {
            content: counter(list);
            color: #fff;
            background-color: @brand-success;
            vertical-align: middle;
            width: 26px;
            height: 26px;
            display: inline-block;
            text-align: center;
            padding-top: 2px;
            border-radius: 5px;
            position: absolute;
            left: -50px;
        }

        ul {
            padding: 1.5em 0 0 1.2em;
        }
    }
}