html {
    height: 100%;
}
body {
    background-image: url("images/body-bg.png");
    min-height: 100%;
    height: auto;
    position: relative;

    &.fixed-height {
        height: 100%;
        min-height: 0;

        .main {
            overflow: hidden;
        }
    }

    &.full-screen {
        nav,
        footer {
            height: 0;
            padding: 0;
            overflow: hidden;
            line-height: 0;
            min-height: 0;
            border: 0;
            .transition(@f-s-transition);
        }
        .main {
            padding: 0;
            .transition(@f-s-transition);
        }
    }
}
a {
    text-decoration: underline;
}
.main {
    height: 100%;
    padding: @nav-height 0 @footer-height 0;
    position: relative;
    z-index: 1;

    .transition(@f-s-transition-init);
}
footer {
    background-color: @navbar-default-bg;
    padding: 20px 0;
    color: @link-color;
    height: @footer-height;
    overflow: hidden;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 10;
    border-top: 1px solid @navbar-border-color;
    .box-shadow(0 0 15px #000);

    .transition(@f-s-transition-init);

    .mail {
        margin-left: 40px;
    }
    .soc img {
        margin-left: 20px;
    }
}
.dropdown-menu > li > a {
    text-decoration: none;
}
.btn {
    border: none;
    text-align: left;
}
.caret {
    border: none;
    float: right;
    &:before {
        font-family: 'GoIconFont';
        content: "\e626";
        font-size: 19px;
        margin-left: -16px;
        margin-top: -2px;
        display: inline-block;
    }

    + span {
        display: block;
        margin-right: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
[class^="icon"] {
    vertical-align: middle;
}
.page-title {
    margin-top: 50px;

    &.hr {
        padding-bottom: 30px;
    }
}
.inset {
    background-color: #111;
    padding: 35px 0 34px 0;

    &-large {
        padding: 55px 0 55px 0;
    }
    &-brd {
        border-top: 1px solid @navbar-border-color;
        border-bottom: 1px solid @navbar-border-color;
    }
    &-brd-top {
        border-top: 1px solid @navbar-border-color;
    }
    &-brd-bottom {
        border-bottom: 1px solid @navbar-border-color;
    }
}
li.separator {
    &:before {
        content: ' ';
        display: inline-block;
    }
}
.footer-menu {
    ul li a {
        line-height: 30px;
    }
}
.thumb {
    border-radius: 10px;
    border: 2px solid #444;
    background: #fff;
    height: 360px;
    text-align: center;
    display: block;
    box-shadow: 0 30px 40px -20px rgba(0, 0, 0, 0.5);

    > img:last-child:first-child {
        max-width: 100%;
        max-height: 100%;
    }
}
.go-glow {
    background: url('images/go-glow.png') no-repeat top center #191919;
    .main& {
        background-position-y: 110px;
    }
}
.shops {
    &-map {
        height: 344px;
        background: url("images/map.png") no-repeat bottom center;
        margin-bottom: 60px;
        box-shadow: inset 0 -30px 35px -30px #000;

        .container {
            position: relative;
        }

        &-main {
            position: absolute;
            left: 0;
            top: 100px;
            border-radius: 10px;
            background-color: #292929;
            padding: 25px 35px;
            max-width: 600px;
            max-height: 150px;
            color: #ccc;
            font-size: 16px;
            box-shadow: 0 20px 30px -20px rgba(0, 0, 0, 0.5);

            &-mail {
                color: #999;
                a {
                    color: @brand-success;
                }
            }

            h3 {
                .font-scada;
                color: #ddd;
                font-size: 20px;
                font-weight: bold;
                margin-top: 0;
                margin-bottom: 25px;
            }
        }
    }
}
.shop {
    &s {
        position: relative;
    }
    &-description {
        position: absolute;
        padding: 25px 35px;
        border-radius: 10px;
        background-color: #292929;
        box-shadow: 0 20px 30px -20px rgba(0, 0, 0, 0.5);
        top: -225px;
    }
}
// Contextual backgrounds
// For now we'll leave these alongside the text classes until v4 when we can
// safely shift things around (per SemVer rules).
.bg-primary {
    // Given the contrast here, this is the only class to have its color inverted
    // automatically.
    color: #fff;
    .bg-variant(@brand-primary);
}
.bg-success {
    .bg-variant(@brand-success);
}
.bg-info {
    .bg-variant(@brand-info);
}
.bg-warning {
    .bg-variant(@brand-warning);
}
.bg-danger {
    .bg-variant(@brand-danger);
}
.col-fixed-height {
    max-height: 4em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.max-col-height {
    height: 640px;
}
@import "nav";
@import "filter";
@import "catalog";
@import "product";
@import "news";
@import "shops";