.link {
    a&,
    a&:hover {
        text-decoration: none;
    }

    border-bottom: 1px solid;
    cursor: pointer;

    &:hover {
        border-bottom-color: transparent;
    }

    &.dashed {
        border-bottom-style: dashed;
    }
}
a.border-less {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
.block-success {
    background-color: @brand-success;
}
.block-warning {
    background-color: @brand-warning;
}
.block-danger {
    background-color: @brand-danger;
}
hr,
.hr {
    border-bottom: 1px solid #555;
    border-top: none;
    margin: 50px 0;
}
.hr {
    &-dashed {
        border-bottom-style: dashed;
    }
    &-glow {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
    }
    &-dashed.hr-glow {
        border-top-style: dashed;
    }
}



.padding(@dir, @val) {
    .padding-@{dir}-@{val} {
        padding-@{dir}: ~"@{val}px";
    }
}
.padding(bottom, 10);
.padding(bottom, 15);
.padding(bottom, 20);
.padding(bottom, 25);
.padding(bottom, 30);

.margin(@dir, @val) {
    .margin-@{dir}-@{val} {
        margin-@{dir}: ~"@{val}px";
    }
}
.margin(bottom, 0);
.margin(bottom, 10);
.margin(bottom, 15);
.margin(bottom, 20);
.margin(bottom, 25);
.margin(bottom, 30);
.margin(bottom, 40);
.margin(bottom, 50);
.margin(bottom, 60);
.margin(bottom, 70);
.margin(bottom, 100);
.margin(top, 15);
.margin(top, 25);
.margin(top, 30);
.margin(top, 40);
.margin(top, 50);
.margin(top, 60);
.margin(top, 75);
.margin(left, 10);
.margin(left, 20);
.margin(left, 30);
.margin(left, 40);
.margin(left, 50);
