@font-family-sans-serif: Verdana, Helvetica, Arial, sans-serif;
@text-color: #fff;
@link-color: @brand-success;
@link-hover-decoration: none;

@body-bg: #303030;

@brand-success: #00a658;
@brand-success-dark: #006033;
@brand-warning: #e48633;
@brand-danger: #e73f3f;

@padding-base-vertical: 5px;

@navbar-border-radius: 0;
@navbar-padding-vertical: 20px;
@navbar-default-bg: @body-bg;
@navbar-default-link-color: #999;
@navbar-default-link-hover-color: @navbar-default-link-color;
@navbar-default-link-active-bg: transparent;
@navbar-default-link-active-color: #fff;
@navbar-border-color: #404040;

@navbar-default-toggle-border-color: transparent;
@navbar-default-toggle-hover-bg: transparent;
@navbar-default-toggle-icon-bar-bg: @brand-success;

@nav-pills-active-link-hover-bg: @brand-success;
@nav-link-padding: 5px 10px;

@state-success-text: @brand-success;

@btn-default-color: #fff;
@btn-default-bg: #666;

@nav-height: 110px;
@footer-height: 60px;

@text-muted: rgba(153, 153, 153, 0.5);

@breadcrumb-padding-vertical: 0;
@breadcrumb-padding-horizontal: 0;
@breadcrumb-bg: transparent;
@breadcrumb-color: @gray-light;
@breadcrumb-active-color: @gray-light;
@breadcrumb-separator: '—';

//== Tabs
@nav-tabs-border-color: transparent;
@nav-tabs-link-hover-border-color: transparent;
@nav-tabs-active-link-hover-bg: #212121;
@nav-tabs-active-link-hover-color: #ddd;
@nav-tabs-active-link-hover-border-color: #3f4241;

@modal-backdrop-opacity: .7;

@input-border-focus: @brand-success;

@f-s-transition: all .5s;
@f-s-transition-init: all .2s;
