.container
    h1 О компании
    hr
    p.text-x-large Мы Рады приветствовать Вас на нашем сайте.
    p.text-x-large Вы сделали правильный выбор. У нас есть то, что нужно именно Вам. Мы ориентированы на широкий круг пользователей устройств мобильной связи. В наших салонах магазинах Вы сможете выбрать  и подключить к сотовой мобильной сети компании "Интерднестрком" мобильный телефон, подобрать к нему необходимые сопутствующие аксессуары- чехлы (огромный выбор), защитные пленки, зарядные устройства, дата-кабели, и многое другое. У нас самый большой выбор наушников, рассчитанный на самого привередливого музыкального гурмана. Кроме того, в наших салонах-магазинах  Вы сможете приобрести карты памяти, «флешки» и многое другое...
    h1.font-scada.text-uppercase.margin-top-75.margin-bottom-40 Несколько слов о компании
    p.text-large Сеть салонов мобильных устройств «GO» - компания, работающая на рынке сотового ритейла, в Приднестровье, основанная в 2012 году. Основными направлениями деятельности компании являются осуществление розничной торговли сотовыми телефонамистандарта CDMA, портативной техникой (планшетные ПК и т.п.), аксессуарами и иными товарами, в тесном взаимодействии с оператором мобильной связи Приднестровья- компанией «Интерднестрком» с подключением абонентов к сотовой сети данной компании.
    p.text-large Товары, представленные в салонах магазинах «GO» рассчитаны на самый широкий круг пользователей с разным достатком и на различный круг интересов и потребностей. В салонах-магазинах компании представлены не только мобильные телефоны, но планшетные ПК, аксессуары для различных мобильных устройств. Также в наших салонах магазинах представлен огромный набор наушников, рассчитанный на самых разных пользователей и гурманов музыки.
    p.text-large В настоящее время компания управляет 14 салонами- 6 салонов-магазинов в г. Тирасполь, 1 салон- магазин в г. Слободзея, 2 салона-магазина в г. Бендеры. Один салон магазин в г. Днестровск, два салона магазина в г. Рыбница. В феврале месяце 2013 года был открыт салон магазин в г. Григориополь.
    p.text-large Наша компания не только занимается продажей мобильных телефонов, но и производит подключения к сотовой сети компании «Интерднестрком».
    p.text-large У нас есть свой сервисный центр, в котором в настоящее время мы осуществляем проверку мобильных телефонов перед продажей, подготовку их к тестированию в компании «Интерднестрком». А также, в случае необходимости, осуществляем гарантийный и не гарантийный ремонт проданного оборудования.
    p.text-large Мы стараемся учитывать все потребности наших клиентов. Практически все телефоны, продаваемые в сети салонов-магазинов GO имеют меню на русском языке. Срок гарантии на все мобильные устройства не менее 3 месяцев.
