.container.text-large
    h1 Гарантийные обязательства
    p Наша компания заинтересована в том, чтобы товары и продукция, распространяемые через сеть салонов мобильных устройств GO полностью соответствовали Вашим запросам. Однако если возникнут какие-либо проблемы, для получения максимально качественной и быстрой помощи в их устранении, убедительно просим Вас обращаться в салон магазин GO, в котором был приобретен данный товар.
    hr
    .row
        .col-sm-3.text-center
            img(src="/go/dest/images/guarantee.png")
        .col-sm-9
            p На протяжении гарантийного срока покупатель имеет право, в случае выявления производственных дефектов или недостатков товара- на бесплатный ремонт (в том числе замену комплектующих) или замену товара, или возврат его стоимости.
            p В случае если товар эксплуатировался с нарушением установленных правил или покупатель не выполнял рекомендации изготовителя и Сервисного Центра, ремонт производится за счет покупателя.
    hr
    h2 Необходимые документы
    p Чтобы ускорить и упростить процесс гарантийного обслуживания при Вашем обращении к менеджеру (продавцу), Вам необходимо иметь при себе:
    ul.text-light
        li сам товар;
        li документ подтверждающий факт оплаты товара;
        li полный комплект упаковки для него;
        li гарантийный талон;
        li паспорт владельца товара или другой документ, подтверждающий личность;
    p.text-muted Только при соблюдении этих условий гарантийные обязательства подлежат выполнению.
    h1 Условия гарантии:
    ol.list-success
        li Продавец или Сервисный Центр GO может отказать в гарантийном ремонте в случае:
            ul.text-light
                li нарушения сохранности гарантийных пломб;
                li наличия механических и иных повреждений, возникших вследствие умышленных или неосторожных действий покупателя или третьих лиц;
                li наличия в изделии любой жидкости или следов ее воздействия;
                li наличия внутри изделия посторонних предметов или насекомых, или следов их воздействия и жизнедеятельности;
                li нарушение правил использования, изложенных в эксплуатационных документах;
                li несанкционированного вскрытия, ремонта или изменения внутренних коммуникаций и компонентов товара, программного обеспечения, изменения конструкции или схемы товара;
                li неправильного заполнения гарантийного талона.
        li Транспортировка неисправного товара, его доставка продавцу или в Сервисный Центр Производителя осуществляется средствами и за счет покупателя.
        li Гарантия также не покрывает следующие неисправности:
            ul.text-light
                li случайные повреждения (дефекты, причиненные клиентом или третьим лицом);
                li повреждения в результате стихийных бедствий (природных явлений);
                li повреждения, вызванные аварийным повышением или понижением напряжения в электросети;
                li повреждения вызванные дефектами системы, в которой использовался данный товар, или возникшие в результате соединения и подключения товара к другим изделиям;
                li повреждения, вызванные использованием товара не по назначению или с нарушением правил эксплуатации.
        li Настоящая гарантия недействительна, если будет удален или изменен серийный номер товара.
        li Действие гарантии не распространяется на аксессуары (аккумуляторы, соединительные шнуры, блоки питания, и т.п.)
        li Действие гарантии не распространяется на естественный износ изделия.
    p.text-light
        span.text-success Примечание:
        | В спорных вопросах стороны руководствуются положениями действующего законодательства ПМР.
