.news
    .container
        h1 Список новостей
        .row
            .col-sm-9
                .news-item
                    .news-item-bage.bg-warning %
                    .news-item-date 7 февраля 2014 года
                    .news-item-title Ценопад в сети салонов GO!!!
                    .news-item-anounce К Дню Святого Валентина очередной ценопад в сети салонов GO!!!
                .news-item
                    .news-item-bage.bg-success +
                    .news-item-date 7 февраля 2014 года
                    .news-item-title Ценопад в сети салонов GO!!!
                    .news-item-anounce К Дню Святого Валентина очередной ценопад в сети салонов GO!!!
                .news-item
                    .news-item-bage.bg-info %
                    .news-item-date 7 февраля 2014 года
                    .news-item-title Ценопад в сети салонов GO!!!
                    .news-item-anounce К Дню Святого Валентина очередной ценопад в сети салонов GO!!!
                .news-item
                    .news-item-bage.bg-danger %
                    .news-item-date 7 февраля 2014 года
                    .news-item-title Ценопад в сети салонов GO!!!
                    .news-item-anounce К Дню Святого Валентина очередной ценопад в сети салонов GO!!!
            .col-sm-3.hidden-xs
                ul.nav.nav-pills.nav-stacked
                    li: a(href="#") Все новости
                    li: a(href="#") Новости компании
                    li: a(href="#") Объявления
                    li.active: a(href="#") Скидки, понижение цен
                    li: a(href="#") Новые поступления
                    li: a(href="#") Акции и конкурсы
