.shops
    .container
        each group, groupN in shops
            .shops-group(data-group=groupN)
                .shops-group-title= group.group
                each shop in group.shops
                    .shops-item.row
                        .shops-address.col-sm-7
                            i.icon-map-marker
                            | #{shop.address}
                        .shops-time.col-sm-3(data-fromh=shop.time.from[0] data-fromm=shop.time.from[1] data-toh=shop.time.to[0] data-tom=shop.time.to[1])
                            i.icon-time
                            span
                            if shop.time.note
                                .shops-time-note= shop.time.note
                        .shops-phone.col-sm-2
                            i.icon-telephone.hidden-xs
                            | #{shop.phone}