- current = "accessories"

doctype
html
    head
        include ./head
        title accessories.html

        script(src="js/jquery.js")
        script(src="js/accessories.js")
    body
        include ./nav
        .main

            .inset.inset-brd-bottom
                .container
                    .filter-carusel

                        .arrow.arrow-left

                        .filter-carusel-scroll
                            .filter-carusel-inside
                                .filter-carusel-item
                                    a(href="?category=headphones")
                                        i.icon-headphones
                                        | Наушники
                                .filter-carusel-item
                                    a(href="?category=bag")
                                        i.icon-bag
                                        | Чехлы и сумки
                                .filter-carusel-item
                                    a.active(href="?category=sd-card")
                                        i.icon-sd-card
                                        | Карты памяти
                                .filter-carusel-item
                                    a(href="?category=cable")
                                        i.icon-cable
                                        | Зарядные устройства
                                .filter-carusel-item
                                    a(href="?category=auto-charge")
                                        i.icon-cable
                                        | Автомобильные зарядки
                                .filter-carusel-item
                                    a(href="?category=battery")
                                        i.icon-battery
                                        | Источники питания
                                .filter-carusel-item
                                    a(href="?category=keyboard")
                                        i.icon-keyboard
                                        | Клавиатуры
                                .filter-carusel-item
                                    a(href="?category=mouse")
                                        i.icon-mouse
                                        | Мышки

                        .arrow.arrow-right

            .container
                .page-title.hr.margin-bottom-60
                    include ./sorting

                    h1.font-scada.text-uppercase Аксессуары для телефонов:

                .catalog-accessories.row
                    .col-sm-4.max-col-height
                        .margin-bottom-100
                            a.font-scada.text-x-large.text-success.text-uppercase.border-less(href="product.html") Автомобильная зарядка HTC
                            a.thumb.margin-top-25.margin-bottom-20(href="product.html")
                                img(src="../dumy/images/phone-1.png")
                            .text-muted.col-fixed-height Для мобильных телефонов и планшетов с, так называемым, разъемом "V9".Для мобильных телефонов и планшетов с, так называемым, разъемом "V9".Для мобильных телефонов и планшетов с, так называемым, разъемом "V9".Для мобильных телефонов и планшетов с, так называемым, разъемом "V9".Для мобильных телефонов и планшетов с, так называемым, разъемом "V9".
                            .text-white.text-x-large.text-uppercase.font-scada.margin-top-25: strong Цена: 70,00 руб

                    .col-sm-4.max-col-height
                        .margin-bottom-100
                            a.font-scada.text-x-large.text-success.text-uppercase.border-less(href="product.html") Автомобильная зарядка HTC
                            a.thumb.margin-top-25.margin-bottom-20(href="product.html")
                                img(src="../dumy/images/phone-1.png")
                            .text-muted.col-fixed-height Для мобильных телефонов и планшетов с, так называемым, разъемом "V9".
                            .text-white.text-x-large.text-uppercase.font-scada.margin-top-25: strong Цена: 70,00 руб
                                sup.text-danger.text-x-small.margin-left-20 Нет в наличии

                    .col-sm-4.max-col-height
                        .margin-bottom-100
                            a.font-scada.text-x-large.text-success.text-uppercase.border-less(href="product.html") Автомобильная зарядка HTC
                            a.thumb.margin-top-25.margin-bottom-20(href="product.html")
                                img(src="../dumy/images/phone-1.png")
                            .text-muted.col-fixed-height Для мобильных телефонов и планшетов с, так называемым, разъемом "V9".
                            .text-white.text-x-large.text-uppercase.font-scada.margin-top-25: strong Цена: 70,00 руб
                                sup.text-warning.text-x-small.margin-left-20 Заканчивается

                    .col-sm-4.max-col-height
                        .margin-bottom-100
                            a.font-scada.text-x-large.text-success.text-uppercase.border-less(href="product.html") Автомобильная зарядка HTC
                            a.thumb.margin-top-25.margin-bottom-20(href="product.html")
                                img(src="../dumy/images/phone-1.png")
                            .text-muted.col-fixed-height Для мобильных телефонов и планшетов с, так называемым, разъемом "V9".
                            .text-white.text-x-large.text-uppercase.font-scada.margin-top-25: strong Цена: 70,00 руб

                    .col-sm-4.max-col-heightye
                        .margin-bottom-100
                            a.font-scada.text-x-large.text-success.text-uppercase.border-less(href="product.html") Автомобильная зарядка HTC
                            a.thumb.margin-top-25.margin-bottom-20(href="product.html")
                                img(src="../dumy/images/phone-1.png")
                            .text-muted.col-fixed-height Для мобильных телефонов и планшетов с, так называемым, разъемом "V9".
                            .text-white.text-x-large.text-uppercase.font-scada.margin-top-25: strong Цена: 70,00 руб

            include ./pager

            include ./footer-menu

        include ./footer