doctype
html
    head
        include ./head

        title catalog.html

        script(src="js/jquery.js")
        script(src="js/bootstrap.js")
        script(src="js/BtnSelect.js")
        script(src="js/catalog.js")
        script(src="js/ion.rangeSlider.js")
    body
        include ./nav

        .main
            include ./filter
            include ./catalog-items
            include ./pager

            include ./footer-menu

        include ./footer