.container

    .page-title
        include ./sorting

        h1.font-scada.text-uppercase= title

    .catalog.row
        each item, num in catalogItems
            if num < 6
                include ./catalog-item-template