- item == undefined ? item = {} : item

.col-sm-4
    .catalog-item(class={hit: item.hit, superprice: item['super-price'], 'new': item['new']})
        a(href="product.html")
            img.image(src=item.image, alt=item.title)
        if item.travel
            .travel
        .title: a(href="product.html")= item.title
        .state= item.state
        .price
            if item['price-old']
                span.price-old= item['price-old']
                span.price-new!= item['price-from'] + "&nbsp;руб."
            else
                span= item['price-from']
            if item['price-to']
                span!= "&nbsp;&mdash;&nbsp;" + item['price-to']
            if !item['price-old']
                | &nbsp;руб.
        if item['credit-price']
            .credit В рассрочку от&nbsp;
                span= item['credit-price']
                | &nbsp;руб./мес.

        if item['colors'] && item['colors'].length
            .colors
                each color in item['colors']
                    .color(style={"background-color": color})

        .hover-description.text-left
            ul.list-unstyled.text-light
                li Русское меню:&nbsp;
                    span.text-white да
                li Гарантия:&nbsp;
                    span.text-white 12 месяцев
                li Состояние:&nbsp;
                    span.text-white новый
                li Слот для SIM карты:&nbsp;
                    span.text-white есть
                li ОС:&nbsp;
                    span.text-white Android v.4
                li Диагональ:&nbsp;
                    span.text-white 4,7 люйма
                li Разрешение:&nbsp;
                    span.text-white 750х1314 пикселя
                li Процессор:&nbsp;
                    span.text-white intel
                li Оперативная память:&nbsp;
                    span.text-white 2 Gb
                li Состояние:&nbsp;
                    span.text-white новый
                li Слот карт памяти:&nbsp;
                    span.text-white есть
                li Тип SIM карты:&nbsp;
                    span.text-white nanoSIM
                li Доступ в интернет:&nbsp;
                    span.text-white EVDO
                li Стандарт связи:&nbsp;
                    span.text-white CDMA 800
                li Передача данных:&nbsp;
                    span.text-white Wi-fi, Bluetoos, NFC
                li Фотокамера:&nbsp;
                    span.text-white 8Mgp.

            a.btn.btn-success.btn-bordered.text-large.margin-top-40(href="product.html") Подробнее