- current = "company"

doctype
html
    head
        include ./head

        title company.html
    body
        include ./nav

        .main.go-glow
            include ./_company
            include ./footer-menu

        include ./footer