#faq-question.modal.fade
    .modal-backdrop.fade
    .modal-dialog
        .modal-content
            .modal-header
                a.close.pull-right(href="#" data-dismiss='modal')
                    i.icon-close.text-success.text-xxxx-large
                .modal-title.text-uppercase.text-success.font-scada.text-xxx-large: strong Задать Свой вопрос
            .modal-body
                form.form-black(action="faq.html")

                    label(for="question") Опишите ваш вопрос:
                    textarea#question.form-control(style="height: 165px;" name="question")

                    label(for="name") Ваше имя:
                    input#name.form-control(type="text" name="name")

                    label(for="email") Электронная почта:
                    input#email.form-control(type="email" name="email")

                    .margin-top-60
                        .pull-right
                            button.btn.btn-success.btn-flat.btn-lg(type="submit") Задать вопрос
                        .pull-left
                            .checkbox
                                input#emailme(type="checkbox" name="emailme" checked)
                                label(for="emailme") Уведомлять об ответе по почте
                        .clearfix