.filter
    .container#small-filter
        form#small-filter-form(action="../dumy/phones.json")
            .row
                .col-sm-2
                    select.btn-select(name="price" data-select-title="Цена")
                        option(value="")  Любая цена
                        option(value="0;1000") Даром
                        option(value="1000;2000") Недорогие
                        option(value="1000;5000") Дорогие
                        option(value="5000;10000") Тебе не по карману
                .col-sm-2
                    select.btn-select(name="producer" data-select-title="Производители")
                        option(value="")  Любой производитель
                        option(value="1") Apple
                        option(value="2") Sumsung
                        option(value="3") HTC
                        option(value="4") Motorola
                .col-sm-2
                    select.btn-select(name="platform" data-select-title="Платформа")
                        option(value="")  Любая платформа
                        option(value="1") iOs
                        option(value="2") Android
                        option(value="3") Windows

                .col-sm-6.text-right
                    i.icon-setting.text-x-large.text-success
                    | &nbsp;&nbsp;&nbsp;
                    strong.link.dashed.text-x-large.text-uppercase.text-success.font-scada(data-toggle="filter") Все параметры

    .container#large-filter
        form#large-filter-form(action="../dumy/phones.json")
            .close(data-toggle="filter")
                i.icon-close.text-success.text-xx-large
                | &nbsp;&nbsp;&nbsp;
                strong.text-success.font-scada.link.dashed.text-uppercase.text-x-large Кратко
            div
                i.icon-setting.text-x-large.text-white.text-glow
                | &nbsp;&nbsp;&nbsp;
                span.text-white.font-scada.text-xxx-large.text-uppercase Подбор телефона по параметрам:
            .phone-in-hand

            .colors
                .label Цвет корпуса:
                .checkbox
                    input#color-1(type="checkbox" name="color-1" value="1")
                    label(for="color-1" style="background-color: #ffffff")
                .checkbox
                    input#color-2(type="checkbox" name="color-2" value="1")
                    label(for="color-2" style="background-color: #af4b4b")
                .checkbox
                    input#color-3(type="checkbox" name="color-3" value="1")
                    label(for="color-3" style="background-color: #c9cd60")
                .checkbox
                    input#color-4(type="checkbox" name="color-4" value="1")
                    label(for="color-4" style="background-color: #60cd68")
                .checkbox
                    input#color-5(type="checkbox" name="color-5" value="1")
                    label(for="color-5" style="background-color: #609bcd")
                .checkbox
                    input#color-6(type="checkbox" name="color-6" value="1")
                    label(for="color-6" style="background-color: #3a367a")
                .checkbox
                    input#color-7(type="checkbox" name="color-7" value="1")
                    label(for="color-7" style="background-color: #111111")
                .checkbox
                    input#color-8(type="checkbox" name="color-8" value="1")
                    label(for="color-8" style="background-color: #666666")

            .filter-inner
                .row
                    .col-sm-4
                        label(for="producer") Производитель:
                        select#producer.btn-select(name="producer" data-select-title="Производители")
                            option(value="")  Любой производитель
                            option(value="1") Apple
                            option(value="2") Sumsung
                            option(value="3") HTC
                            option(value="4") Motorola
                    .col-sm-4
                        label(for="memory") Встроенная память:
                        select#memory.btn-select(name="memory" data-select-title="Память")
                            option(value="")  Любая память
                            option(value="1") 1 - 2 Gb
                            option(value="2") 2 - 8 Gb
                            option(value="3") 8 - 16 Gb
                            option(value="4") 16 - 32 Gb
                    .col-sm-4
                        label(for="screen") Диогональ экрана:
                        select#screen.btn-select(name="screen" data-select-title="Диогональ")
                            option(value="")  Любая диогональ
                            option(value="1") 5.1" - 5.5"
                            option(value="2") 5.5" - 10.5"
                            option(value="3") 10.5" - 20.5"

                .inline-filter
                    .row
                        .col-sm-6
                            .row
                                .col-sm-3
                                    .checkbox
                                        input#windows-2(name="windows-2" value="1" type="checkbox")
                                        label.icon-windows-2(for="windows-2") Windows Phone
                                .col-sm-3
                                    .checkbox
                                        input#ios(name="ios" value="1" type="checkbox")
                                        label.icon-ios(for="ios") iOS
                                .col-sm-3
                                    .checkbox
                                        input#android(name="android" value="1" type="checkbox")
                                        label.icon-android(for="android") Android
                                .col-sm-3
                                    .checkbox
                                        input#windows(name="windows" value="1" type="checkbox")
                                        label.icon-windows(for="windows") Windows Mobile
                        .col-sm-4.col-sm-offset-2
                            .row
                                .col-sm-5
                                    .checkbox
                                        input#gsm(name="gsm" value="1" type="checkbox")
                                        label.icon-antenna(for="gsm") С GSM модулем
                                .col-sm-5
                                    .checkbox
                                        input#sd(name="sd" value="1" type="checkbox")
                                        label.icon-sd-card(for="sd") Поддержка карт памяти

                .price-filter
                    .text-white.text-large Цена&nbsp;
                        span.text-muted (Приднестровский рубль):

                    .range
                        input.hide#price-range(name="price" type="text" data-from="123" data-to="1234")

            .margin-top-50
                input.btn.btn-success.btn-lg.text-uppercase(type="submit" value="Применить")
                strong.link.text-muted.dashed.text-uppercase.margin-left-50.text-x-large.font-scada#lgFilterReset Сбросить фильтры