.footer-menu.inset.inset-large.inset-brd-top.margin-top-75
    .container
        .row
            .col-sm-3
                div.text-x-large.padding-bottom-15 Каталог товаров:
                ul.list-unstyled.text-large
                    li: a.text-success(href="phones.html") Телефоны
                    li: a.text-success(href="tablets.html") Планшеты и ноутбуки
                    li: a.text-success(href="accessories.html") Аксессуары
                    li.separator
                    li: a.text-success(href="#") Спецпредложения
            .col-sm-3
                div.text-x-large.padding-bottom-15 Компания:
                ul.list-unstyled.text-large
                    li: a.text-success(href="company.html") О компании
                    li: a.text-success(href="#") Приветственное слово
                    li: a.text-success(href="news.html") Новости
                    li: a.text-success(href="shops.html") Адреса магазинов
                    li: a.text-success(href="#") Вакансии
            .col-sm-3
                div.text-x-large.padding-bottom-15 Информация:
                ul.list-unstyled.text-large
                    li: a.text-success(href="#") Правила покупки
                    li: a.text-success(href="guarantee.html") Гарантийные обязательства
                    li: a.text-success(href="#") Рассрочка

            .col-sm-3
                p.font-scada.text-xxxx-large 0 (778) 2-22-28
                p.text-muted.padding-bottom-15 Служба поддержки
                p.text-large.padding-bottom-15 3300, Молдова, Тирасполь, <br> ТК «Шериф», 2-й этаж, офис 200
                p.text-large
                    span.text-muted Почта:&nbsp;
                    a.text-success(href="mailto:go@go-go.md") go@go-go.md