footer
    .container
        .row
            .col-sm-4 © 2013 — 2014. Сеть магазинов «
                span.text-success GO
                | »
            .col-sm-4.text-center
                span.text-white 0 (778) 2-22-28
                span.mail Почта:&nbsp;
                    a.text-success(href="go@go-go.md") go@go-go.md
            .col-sm-4.text-right.soc Группы в соц. сетях:
                img(src="css/images/fb.png")
                img(src="css/images/ok.png")