- current = 'guarantee'

doctype
html
    head
        include ./head

        title guarantee.html

    body
        include ./nav

        .main
            include ./_guarantee
            include ./footer-menu

        include ./footer