doctype
html
    head
        include ./head

        title Main.html

        script(src="js/jquery.js")
        script(src="js/jquery.mousewheel.js")
        script(src="js/MainSlider.js")
        script(src="js/Main.js")
    body
        include ./nav

        .main
            .main-slider
                .main-slider-item.main-slider-v6
                    img.main-slider-image(src="../dumy/images/slider-7.jpg")
                    .main-slider-container
                        h1.text-uppercase.text-white.text-center.text-xxxxl-large(style={
                            "margin": "0 0 25px 0"
                        })  Весна - цены тоже распускаются
                        h4.text-white.text-center(style={
                            "text-transform": "none",
                            "font-size": "21px",
                            "margin": "0 0 40px 0"
                        })  Скидки на телефоны в сети магазинов GO
                        .container
                            .row
                                .col-sm-3.text-center
                                    .main-slider-inner-image(style="margin-bottom: 30px;"): img(src="../dumy/images/slider-7/phone.png")
                                    h2(style="margin:0 0 21px 0; font-size: 21px") HTC EVO 3D
                                    h1(style="margin:0;")
                                        span.text-danger 1120 руб.
                                        sup: strike 1250
                                .col-sm-3.text-center
                                    .main-slider-inner-image(style="margin-bottom: 30px;"): img(src="../dumy/images/slider-7/phone1.png")
                                    h2(style="margin:0 0 21px 0; font-size: 21px") HTC EVO 3D
                                    h1(style="margin:0;")
                                        span.text-danger 1120 руб.
                                        sup: strike 1250
                                .col-sm-3.text-center
                                    .main-slider-inner-image(style="margin-bottom: 30px;"): img(src="../dumy/images/slider-7/phone2.png")
                                    h2(style="margin:0 0 21px 0; font-size: 21px") HTC EVO 3D
                                    h1(style="margin:0;")
                                        span.text-danger 1120 руб.
                                        sup: strike 1250
                                .col-sm-3.text-center
                                    .main-slider-inner-image(style="margin-bottom: 30px;"): img(src="../dumy/images/slider-7/phone3.png")
                                    h2(style="margin:0 0 21px 0; font-size: 21px") HTC EVO 3D
                                    h1(style="margin:0;")
                                        span.text-danger 1120 руб.
                                        sup: strike 1250


                .main-slider-item
                    img.main-slider-image(src="../dumy/images/slider-1.jpg")

                .main-slider-item.main-slider-v2
                    img.main-slider-image(src="../dumy/images/slider-2.jpg")
                    .main-slider-container
                        .main-slider-desc(style={
                            color: "#333333",
                            "text-transform": "uppercase",
                            "font-size": "28px",
                            "font-weight": "bold"
                        }) не откладывайте покупку до лучших времен! Кредит и рассрочка Вам обязательно помогут в этом!
                            .main-slider-caption
                                a.main-slider-button.main-slider-button-white(href="$url$") Подробнее об условиях

                .main-slider-item.main-slider-v3
                    img.main-slider-image(src="../dumy/images/slider-3.jpg")
                    .main-slider-container
                        .main-slider-desc
                            .main-slider-title(style={
                                "text-transform": "uppercase",
                                "font-weight": "bold"
                            }) Samsung Galaxy S4 (SCH R970С)
                            div(style={
                                "font-size": "16px",
                                "font-family": "Verdana",
                                "line-height": "24px"
                            }) Samsung Galaxy S IV — флагман компании 2014 г. Одной из главных особенностей устройства стали функции Smart Scroll и Smart Pause, позволяющие управлять смартфоном без прикосновений, при помощи одного взгляда.
                            .main-slider-caption
                                .main-slider-price(style={"font-size": "48px"}): strong 3000 РУБ
                                a.main-slider-button.main-slider-button-green(href="$url$") ПОДРОБНЕЕ

                .main-slider-item.main-slider-v4
                    img.main-slider-image(src="../dumy/images/slider-4.jpg")
                    .main-slider-container
                        .main-slider-title.font-scada(style={"text-transform": "uppercase", "font-size": "30px"})
                            i.icon-ios(style="font-size: 44px")
                            | Apple iPhone 6 16Gb
                            small(style="display:block") новый, Gray
                        .main-slider-desc
                            .main-slider-caption
                                .main-slider-price(style={"font-size": "36px"}) 10 000 РУБ.
                                    small(style="display:block") В РАССРОЧКУ 1730 РУБ./МЕС.
                                br
                                br
                                a.main-slider-button.main-slider-button-green(href="$url$") ПОДРОБНЕЕ

                .main-slider-item.main-slider-v4(style="color: #303030")
                    img.main-slider-image(src="../dumy/images/slider-5.jpg")
                    .main-slider-container
                        .main-slider-title.font-scada(style={"text-transform": "uppercase", "font-size": "30px"})
                            i.icon-ios(style="font-size: 44px")
                            | Apple iPhone 6 16Gb
                            small(style="display:block") новый, Gray
                        .main-slider-desc
                            .main-slider-caption
                                .main-slider-price(style={"font-size": "36px"}) 10 000 РУБ.
                                    small(style="display:block") В РАССРОЧКУ 1730 РУБ./МЕС.
                                br
                                br
                                a.main-slider-button.main-slider-button-green(href="$url$") ПОДРОБНЕЕ

                .main-slider-item.main-slider-v5
                    img.main-slider-image(src="../dumy/images/slider-6.jpg")
                    .main-slider-container
                        .main-slider-desc.text-uppercase
                            p(style="font-size: 24px") Мобильная связь для путешествий по всему миру
                            p(style="font-size: 20px") Возможность пользоваться услугами международного роуминга в более чем 200 странах

        include ./footer