nav.navbar.navbar-default
    .container
        .navbar-header
            a.navbar-brand(href="Main.html")
        ul.nav.navbar-nav.nav-top
            li(class={active: current == 'shops'}): a(href="shops.html") Магазины
            li(class={active: current == 'company'}): a(href="company.html") О компании
            li(class={active: current == 'guarantee'}): a(href="guarantee.html") Покупка и ганартия
            li: a(href="#") Вакансии
                span 3
        ul.nav.navbar-nav.nav-bottom
            li(class={active: current == 'phones'})
                a(href="phones.html") Телефоны
                ul
                    li: a(href="#") Apple
                    li: a(href="#") HTC
                    li.active: a(href="#") Huawei Huawei Huawei Huawei Huawei Huawei
                    li: a(href="#") LG
                    li: a(href="#") Motorola
                    li: a(href="#") Samsung
            li(class={active: current == 'tablets'}): a(href="tablets.html") Планшеты и ноутбуки
            li(class={active: current == 'accessories'}): a(href="accessories.html") Аксессуары
            li: a.text-success(href="#") Спецпредложения
            li(class={active: current == 'news'}): a(href="news.html") Новости
