- current = 'news'

doctype
html
    head
        include ./head

        title news.html

    body
        include ./nav

        .main
            include ./_news
            include ./pager
            include ./footer-menu

        include ./footer