ul.pagination
    li.prev.disabled: a(href="#") &larr;&nbsp;назад
    li.active: a(href="#") 1
    li: a(href="#") 2
    li: a(href="#") 3
    li: a(href="#") 4
    li: a(href="#") 5
    li.next: a(href="#") вперёд&nbsp;&rarr;