.product

    .container

        ul.nav.nav-tabs
            li: a(href="#description" data-toggle="tab") Описание
            li: a(href="#characteristics" data-toggle="tab") Харрактеристики
            li: a(href="#video" data-toggle="tab") Видео обзор
            li: a(href="#faq" data-toggle="tab") Вопрос-ответ (16/18)
            li: a(href="#creadit" data-toggle="tab") Рассрочка


        .tab-content.margin-top-40

            #all.tab-pane.active
                .row
                    .col-sm-6
                        h2.font-scada.text-xxxx-large.text-uppercase.margin-bottom-40 Описание HTC ONE M8 8020

                        .text-light.text-large

                            p.text-xxx-large Внешний дизайн

                            p Алюминиевый сплав обработан по технологии, используемой при производстве крыла истребителя. Поверхность красиво текстурирована шлифовкой по металлу. Округлая форма корпуса благодаря инновационному размещению компонентов охватывает 5" Full HD экран.
                            p Инновационное расположение антенн, укрытых снаружи, в пропилах металлического корпуса, для отличного качества связи.

                            ul
                                li Цельнометаллический корпус
                                li Закругленные края корпуса для удобного захвата
                                li Аудио-разъём в нижнем торце
                                li Стильная вставка в торце
                                li Больше нет пластиковой окантовки
                                li Чуть выступающие металлические кнопки

                            p: a.link.dashed(href="#description" data-toggle="tab") Читать полностью

                    .col-sm-5.col-sm-offset-1
                        h2.font-scada.text-xxxx-large.text-uppercase.margin-bottom-40 характеристики

                        .text-light.text-large
                            p Поддержка нескольких СИМ-карт: Нет
                            p Операционная система: Android
                            p Процессор: Qualcomm Snapdragon 801 (2.3 ГГц)
                            p Оперативная память: 2 ГБ
                            p Размеры: 146.36 x 70.6 x 9.35 мм
                            p Вес: 160 г
                            p Дисплей: 5.0" Super LCD3
                            p Разрешение: 1920 x 1080 пикс
                            p Сигналы вызова: Полифонические мелодии, МP3 звонок, Виброзвонок
                            p Основная камера: 4 UltraPixel (Dual), Технология UFocus. Автофокус Dual-LED вспышка, HDR
                            p Фронтальная камера: 5 Мп
                            p Стандарт: GSM 850 / 900 / 1800 / 1900 МГц, HSDPA 850 / 900 / 2100 МГц
                            p Встроенная память: 16 ГБ
                            p Слот для карт microSD (до 128 ГБ)

                            p: a.link.dashed(href="#characteristics" data-toggle="tab") Подробные характеристики

                .hr.margin-top-75.margin-bottom-40

                div
                    div
                        div
                            strong.font-scada.text-uppercase.text-large Нозимджон Джамилзода
                            span.product-faq-date.margin-left-30.text-small.text-muted 04 февраля 2015 в 15:41
                        .margin-top-15.text-large Хотел поинтересоваться, если я купил iPhone 6 в Америке в Apple Store, действует ли их гарантия у вас? Или только в Apple Storах
                        .margin-top-50
                            strong.font-scada.text-success.text-uppercase.text-x-large Ответ Магазина
                            span.product-faq-date.margin-left-30.text-small.text-muted 04 февраля 2015 в 16:32
                        .margin-top-15.text-large Чтобы узнать наличие товара в салонах, пройдите по ссылке:
                            a(href="http://service-ok.svyaznoy.ru/address_shops/") http://service-ok.svyaznoy.ru/address_shops/
                            | и укажите интересующую модель, город и адрес ближайшего удобного вам магазина. Если товар в наличии есть, вы сможете его забронировать, а если нет, вам будет предложено сделать покупку в интернет-магазине.

                    p.margin-top-30: a.link.dashed.text-large(href="#faq" data-toggle="tab") Читать все вопросы и ответы

            include ./product-tab-description
            include ./product-tab-characteristics

            #video.tab-pane

                p.margin-bottom-70.text-uppercase.font-scada.text-xxxx-large: strong Видеообзор HTC ONE M8 8020

                .row.margin-bottom-100
                    .col-sm-7
                        iframe(width="100%" height="390" src="https://www.youtube.com/embed/jy9ho0Jjiks" frameborder="0" allowfullscreen)
                    .col-sm-4.col-sm-offset-1.text-large
                        p.text-uppercase.text-xx-large.font-scada.margin-bottom-30: strong Полный обзор
                        p Полный видеообзор смартфона HTC One M8 от Наташи (Rozetka)
                        p Ссылка на обзор на
                            a(href="https://www.youtube.com/watch?v=jy9ho0Jjiks") Youtube

                .row.margin-bottom-100
                    .col-sm-7
                        iframe(width="100%" height="390" src="https://www.youtube.com/embed/in8ad_ctCH8" frameborder="0" allowfullscreen)
                    .col-sm-4.col-sm-offset-1.text-large
                        p.text-uppercase.text-xx-large.font-scada.margin-bottom-30: strong Полный обзор
                        p Полный видеообзор смартфона HTC One M8 от Наташи (Rozetka)
                        p Ссылка на обзор на
                            a(href="https://www.youtube.com/watch?v=jy9ho0Jjiks") Youtube

            include ./product-tab-faq

            #creadit.tab-pane