.product.go-glow.inset.inset-brd-bottom.inset-large
    .container
        include ./crumbs
        .product-info
            .product-images.block-success
                .product-images-arrow.product-images-arrow-up
                .product-images-inner
                    .product-images-item(style="background-image: url(../dumy/images/phone-1.png)" data-image="../dumy/images/phone-1.png")
                    .product-images-item(style="background-image: url(../dumy/images/phone-2.png)" data-image="../dumy/images/phone-2.png")
                    .product-images-item(style="background-image: url(../dumy/images/phone-3.png)" data-image="../dumy/images/phone-3.png")
                    .product-images-item(style="background-image: url(../dumy/images/phone-1.png)" data-image="../dumy/images/phone-4.png")
                    .product-images-item(style="background-image: url(../dumy/images/phone-2.png)" data-image="../dumy/images/phone-5.png")
                    .product-images-item(style="background-image: url(../dumy/images/phone-3.png)" data-image="../dumy/images/phone-6.png")
                .product-images-arrow.product-images-arrow-down
            .product-image
                .product-image-image(style="background-image: url('../dumy/images/phone.png')")
            .product-text.block-success
                .product-title.font-scada.text-uppercase.text-xxxx-large.text-black
                    strong Наушники Monster beats
                    span &nbsp;studio
                    strong: sup.text-white.text-x-large &nbsp;новые
                .product-colors
                    .product-colors-item(style="background-color: #ffffff")
                    .product-colors-item(style="background-color: #4e4e4e")
                    .product-colors-item.active(style="background-color: #0fadcc")
                    .product-colors-item(style="background-color: #b82727")
                    .product-colors-item(style="background-color: #e9d02b")
                .product-description.text-black.text-large Самые известные наушники в мире полностью переосмыслены и усовершенствованы. Наушники Beats Studio® стали легче, привлекательнее, прочнее и удобнее, обладая точным звучанием, системой адаптивного шумоподавления, аккумулятором на 20 часов и функцией RemoteTalk™.
                .hr.hr-dashed.hr-glow.margin-top-15.margin-bottom-20
                .row
                    .col-sm-5
                        .product-price.text-white.font-scada.text-xxxx-large: strong 2370 руб.
                    .col-sm-7
                        .product-credit
                            .row
                                .col-sm-3
                                    i.icon-money.text-center
                                .col-sm-9
                                    .font-scada.text-white.text-xx-large: strong 250 руб./мес.
                                    .text-small.text-white В рассрочку на 12 месяцев
            .product-state.text-uppercase.text-small.block-warning Заканчивается
            .product-state.text-uppercase.text-small.block-danger Нет в наличии
