doctype
html
    head
        include ./head

        title product.html

        script(src="js/jquery.js")
        script(src="js/bootstrap.js")
        script(src="js/product.js")
    body
        include ./nav

        .main
            include ./product-info
            include ./product-description
            include ./footer-menu

        include ./footer

        include ./faq-form