#description.tab-pane
    .row
        .col-sm-6
            p.text-uppercase.font-scada.text-xxxx-large ПОЧУВСТВУЙ МУЗЫКУ
            p.text-large Beats Acoustic Engine™ делает процесс прослушивания музыки интимным, личным, реальным. Наше фирменное ПО для цифровой обработки сигнала предназначено для того, чтобы генерировать эмоциональный посыл Dr. Dre, Джимми Айовина и других величайших продюсеров рока, хип-хопа, поп-музыки, электроники и R&B. Именно так будет звучать музыка, если артист будет исполнять ее для вас лично.

            p.text-uppercase.font-scada.text-xxxx-large ВЫКЛЮЧИТЕ ЗВУКИ ВОКРУГ СЕБЯ
            p.text-large Заглушите шум улиц по пути на работу или ссору соседей посредством нашей непревзойденной функции адаптивного шумоподавления (АШ) с двумя режимами. Когда вы слушаете музыку, АШ автоматически регулирует баланс между музыкой и окружающими звуками. Если вы хотите использовать наушники только для подавления внешнего шума, АШ увеличивает уровень шумоподавления, делая мир тише.

            p.text-uppercase.font-scada.text-xxxx-large КАКИЕ БАТАРЕЙКИ?
            p.text-large Севшие батарейки способны мгновенно испортить настроение. Новая модель Beats Studio позволяет избежать этого с помощью аккумулятора продолжительностью работы 20 часов. Для экономии заряда предусмотрена функция автоматического отключения наушников при отсоединении от устройства, а также "расходомер аккумулятора"; с ним вы всегда будете знать, сколько осталось керосина. Забудьте о специальных адаптерах; новые наушники Studio можно заряжать через микро-USB практически где угодно.

        .col-sm-6
            img(src="../dumy/images/beats_logo.png")