#characteristics.tab-pane.text-large.text-light
    p.text-uppercase.font-scada.text-xxxx-large.margin-bottom-60 характеристики HTC ONE M8 8020
    .row
        .col-sm-6
            .row.margin-bottom-60
                .col-xs-3.col-sm-2
                    i.icon-info.text-success.text-xxxl-large
                .col-xs-9.col-sm-10
                    p.font-scada.text-x-large.text-uppercase: strong Общие характеристики:
                    p.margin-bottom-0 Тип устройства: Смартфон
                    p.margin-bottom-0 Поддержка нескольких СИМ-карт: Нет
                    p.margin-bottom-0 Операционная система: Android
                    p.margin-bottom-0 Форм-фактор: Сенсорный моноблок
                    p.margin-bottom-0 Цвет: Grey
            .row.margin-bottom-60
                .col-xs-3.col-sm-2
                    i.icon-chip.text-success.text-xxxl-large
                .col-xs-9.col-sm-10
                    p.font-scada.text-x-large.text-uppercase: strong Общие характеристики:
                    p.margin-bottom-0 Тип устройства: Смартфон
                    p.margin-bottom-0 Поддержка нескольких СИМ-карт: Нет
                    p.margin-bottom-0 Операционная система: Android
                    p.margin-bottom-0 Цвет: Grey
            .row.margin-bottom-60
                .col-xs-3.col-sm-2
                    i.icon-sd-card.text-success.text-xxxl-large
                .col-xs-9.col-sm-10
                    p.font-scada.text-x-large.text-uppercase: strong Общие характеристики:
                    p.margin-bottom-0 Тип устройства: Смартфон
                    p.margin-bottom-0 Поддержка нескольких СИМ-карт: Нет
                    p.margin-bottom-0 Операционная система: Android
            .row.margin-bottom-60
                .col-xs-3.col-sm-2
                    i.icon-wifi.text-success.text-xxxl-large
                .col-xs-9.col-sm-10
                    p.font-scada.text-x-large.text-uppercase: strong Общие характеристики:
                    p.margin-bottom-0 Тип устройства: Смартфон
                    p.margin-bottom-0 Поддержка нескольких СИМ-карт: Нет
                    p.margin-bottom-0 Операционная система: Android
            .row.margin-bottom-60
                .col-xs-3.col-sm-2
                    i.icon-lens.text-success.text-xxxl-large
                .col-xs-9.col-sm-10
                    p.font-scada.text-x-large.text-uppercase: strong Общие характеристики:
                    p.margin-bottom-0 Тип устройства: Смартфон
                    p.margin-bottom-0 Поддержка нескольких СИМ-карт: Нет
                    p.margin-bottom-0 Операционная система: Android
            .row.margin-bottom-60
                .col-xs-3.col-sm-2
                    i.icon-display.text-success.text-xxxl-large
                .col-xs-9.col-sm-10
                    p.font-scada.text-x-large.text-uppercase: strong Общие характеристики:
                    p.margin-bottom-0 Тип устройства: Смартфон
                    p.margin-bottom-0 Поддержка нескольких СИМ-карт: Нет
                    p.margin-bottom-0 Операционная система: Android
            .row.margin-bottom-60
                .col-xs-3.col-sm-2
                    i.icon-connections.text-success.text-xxxl-large
                .col-xs-9.col-sm-10
                    p.font-scada.text-x-large.text-uppercase: strong Общие характеристики:
                    p.margin-bottom-0 Тип устройства: Смартфон
                    p.margin-bottom-0 Поддержка нескольких СИМ-карт: Нет
                    p.margin-bottom-0 Операционная система: Android
            .row.margin-bottom-60
                .col-xs-3.col-sm-2
                    i.icon-signal.text-success.text-xxxl-large
                .col-xs-9.col-sm-10
                    p.font-scada.text-x-large.text-uppercase: strong Общие характеристики:
                    p.margin-bottom-0 Тип устройства: Смартфон
                    p.margin-bottom-0 Поддержка нескольких СИМ-карт: Нет
                    p.margin-bottom-0 Операционная система: Android
        .col-sm-6
            .row.margin-bottom-60
                .col-xs-3.col-sm-2
                    i.icon-stopwatch.text-success.text-xxxl-large
                .col-xs-9.col-sm-10
                    p.font-scada.text-x-large.text-uppercase: strong Общие характеристики:
                    p.margin-bottom-0 Тип устройства: Смартфон
                    p.margin-bottom-0 Поддержка нескольких СИМ-карт: Нет
                    p.margin-bottom-0 Операционная система: Android
            .row.margin-bottom-60
                .col-xs-3.col-sm-2
                    i.icon-game.text-success.text-xxxl-large
                .col-xs-9.col-sm-10
                    p.font-scada.text-x-large.text-uppercase: strong Общие характеристики:
                    p.margin-bottom-0 Тип устройства: Смартфон
                    p.margin-bottom-0 Поддержка нескольких СИМ-карт: Нет
                    p.margin-bottom-0 Операционная система: Android
            .row.margin-bottom-60
                .col-xs-3.col-sm-2
                    i.icon-dimensions.text-success.text-xxxl-large
                .col-xs-9.col-sm-10
                    p.font-scada.text-x-large.text-uppercase: strong Общие характеристики:
                    p.margin-bottom-0 Тип устройства: Смартфон
                    p.margin-bottom-0 Поддержка нескольких СИМ-карт: Нет
                    p.margin-bottom-0 Операционная система: Android
            .row.margin-bottom-60
                .col-xs-3.col-sm-2
                    i.icon-battery-2.text-success.text-xxxl-large
                .col-xs-9.col-sm-10
                    p.font-scada.text-x-large.text-uppercase: strong Общие характеристики:
                    p.margin-bottom-0 Тип устройства: Смартфон
                    p.margin-bottom-0 Поддержка нескольких СИМ-карт: Нет
                    p.margin-bottom-0 Операционная система: Android
            .row.margin-bottom-60
                .col-xs-3.col-sm-2
                    i.icon-plus.text-muted.text-xxxl-large
                .col-xs-9.col-sm-10
                    p.font-scada.text-x-large.text-uppercase: strong Общие характеристики:
                    p.margin-bottom-0 Тип устройства: Смартфон
                    p.margin-bottom-0 Поддержка нескольких СИМ-карт: Нет
                    p.margin-bottom-0 Операционная система: Android
            .row.margin-bottom-60
                .col-xs-3.col-sm-2
                    i.icon-options.text-muted.text-xxxl-large
                .col-xs-9.col-sm-10
                    p.font-scada.text-x-large.text-uppercase: strong Общие характеристики:
                    p.margin-bottom-0 Тип устройства: Смартфон
                    p.margin-bottom-0 Поддержка нескольких СИМ-карт: Нет
                    p.margin-bottom-0 Операционная система: Android
