#faq.tab-pane.text-light
    p.text-uppercase.font-scada.text-xxxx-large: strong Вопросы и ответы (16/18)
    .hr.margin-top-50.margin-bottom-50
    .row.margin-bottom-100
        .col-sm-3
            p.text-uppercase.text-large.font-scada: strong Нозимджон Джамилзода
            p.text-small.text-muted 04 февраля 2015 в 15:41
        .col-sm-8
            .text-large Хотел поинтересоваться, если я купил iPhone 6 в Америке в Apple Store, действует ли их гарантия у вас? Или только в Apple Storах
            .margin-top-50
                strong.font-scada.text-success.text-uppercase.text-x-large Ответ Магазина
                span.product-faq-date.margin-left-30.text-small.text-muted 04 февраля 2015 в 16:32
            .margin-top-15.text-large Чтобы узнать наличие товара в салонах, пройдите по ссылке:
                a(href="http://service-ok.svyaznoy.ru/address_shops/") http://service-ok.svyaznoy.ru/address_shops/
                | и укажите интересующую модель, город и адрес ближайшего удобного вам магазина. Если товар в наличии есть, вы сможете его забронировать, а если нет, вам будет предложено сделать покупку в интернет-магазине.
        .col-sm-1.hidden-xs
            i.icon-love.text-xxx-large.text-muted
    .row.margin-bottom-100
        .col-sm-3
            p.text-uppercase.text-large.font-scada: strong Нозимджон Джамилзода
            p.text-small.text-muted 04 февраля 2015 в 15:41
        .col-sm-8
            .text-large Хотел поинтересоваться, если я купил iPhone 6 в Америке в Apple Store, действует ли их гарантия у вас? Или только в Apple Storах
            .margin-top-50
                strong.font-scada.text-success.text-uppercase.text-x-large Ответ Магазина
                span.product-faq-date.margin-left-30.text-small.text-muted 04 февраля 2015 в 16:32
            .margin-top-15.text-large Чтобы узнать наличие товара в салонах, пройдите по ссылке:
                a(href="http://service-ok.svyaznoy.ru/address_shops/") http://service-ok.svyaznoy.ru/address_shops/
                | и укажите интересующую модель, город и адрес ближайшего удобного вам магазина. Если товар в наличии есть, вы сможете его забронировать, а если нет, вам будет предложено сделать покупку в интернет-магазине.
        .col-sm-1.hidden-xs
            i.icon-love.text-xxx-large.text-warning
    .row.margin-bottom-100
        .col-sm-3
            p.text-uppercase.text-large.font-scada: strong Нозимджон Джамилзода
            p.text-small.text-muted 04 февраля 2015 в 15:41
        .col-sm-8
            .text-large Хотел поинтересоваться, если я купил iPhone 6 в Америке в Apple Store, действует ли их гарантия у вас? Или только в Apple Storах
            .margin-top-50
                strong.font-scada.text-success.text-uppercase.text-x-large Ответ Магазина
                span.product-faq-date.margin-left-30.text-small.text-muted 04 февраля 2015 в 16:32
            .margin-top-15.text-large Чтобы узнать наличие товара в салонах, пройдите по ссылке:
                a(href="http://service-ok.svyaznoy.ru/address_shops/") http://service-ok.svyaznoy.ru/address_shops/
                | и укажите интересующую модель, город и адрес ближайшего удобного вам магазина. Если товар в наличии есть, вы сможете его забронировать, а если нет, вам будет предложено сделать покупку в интернет-магазине.
        .col-sm-1.hidden-xs
            i.icon-love.text-xxx-large.text-muted
    .row.margin-bottom-100
        .col-sm-3
            p.text-uppercase.text-large.font-scada: strong Нозимджон Джамилзода
            p.text-small.text-muted 04 февраля 2015 в 15:41
        .col-sm-8
            .text-large Хотел поинтересоваться, если я купил iPhone 6 в Америке в Apple Store, действует ли их гарантия у вас? Или только в Apple Storах
            .margin-top-50
                strong.font-scada.text-success.text-uppercase.text-x-large Ответ Магазина
                span.product-faq-date.margin-left-30.text-small.text-muted 04 февраля 2015 в 16:32
            .margin-top-15.text-large Чтобы узнать наличие товара в салонах, пройдите по ссылке:
                a(href="http://service-ok.svyaznoy.ru/address_shops/") http://service-ok.svyaznoy.ru/address_shops/
                | и укажите интересующую модель, город и адрес ближайшего удобного вам магазина. Если товар в наличии есть, вы сможете его забронировать, а если нет, вам будет предложено сделать покупку в интернет-магазине.
        .col-sm-1.hidden-xs
            i.icon-love.text-xxx-large.text-muted
    .hr.margin-bottom-50
    .row
        .col-sm-1.hidden-xs
            i.icon-info-2.text-success.text-xxxxl-large
        .col-sm-8.text-muted Тут будет информация о том, сколько требуется магазину времени на обработку вопросов. А так же, что сообщения модерируются и нецензурная брань запрещена
        .col-sm-3.text-right.hidden-xs
            .btn.btn-success.btn-flat.btn-lg(data-toggle="modal" data-target="#faq-question") Задать свой вопрос