- current = "shops"

doctype
html
    head
        include ./head

        title company.html
        script(src="js/jquery.js")
        script(src="js/shops.js")
    body
        include ./nav

        .main
            .shops-map
                .container
                    .shops-map-main
                        h3 Главный офис:
                        div 3300, Молдова, Тирасполь, ТК «Шериф», 2-й этаж, офис 200
                        div Телефон: +373 777 123456
                            span.shops-map-main-mail &nbsp;&nbsp;&nbsp;Почта:&nbsp;
                                a(href="mailto:go@go-go.md") go@go-go.md

            include ./_shops

            include ./footer-menu

        include ./footer