#sorting.pull-right.sorting
    form Выводить по:
        .sorting-item
            a.sorting-label.active(data-sort="popular" href="#"): span.sorting-label-inner популярности
        .sorting-item
            a.sorting-label(data-sort="price" href="#"): span.sorting-label-inner цене
        .sorting-item
            a.sorting-label(data-sort="name" href="#"): span.sorting-label-inner наименованию